<div id="banner" _height="none">
	<section class="content">
      <nav><a class="active"><img src="/images/sv-nav.png"></a></nav>
    </section>
</div>
<article _height="auto" id="service">
  <section class="content">
    <nav><a href="<%= root_url %>">首頁</a><span>></span><a>服務項目</a></nav>
    <div class="inner">
    <% @services.each do | service | %>
    	<a href="<%= service_path( service ) %>" class="grid"><img src="<%= service.cover %>"><h4><%= service.title %></h4></a>
    <% end %>
    </div>
  </section>
</article>