
<%= render :partial => 'layouts/intro_menu' %>

<article _height="auto" id="about">
  <section class="content">
    <nav><a href="<%= root_url %>">首頁</a><span>></span><a>關於誼光</a></nav>
    <div class="inner">
      <div class="col-sm-8">
        <h3>公司沿革</h3>
        <p>
          「誼光保全」於八十四年三月成立，在社會大眾的支持與全體員工努力下，營運業績年年成長，並於民國八十七年十二月轉投資成立「誼光國際公寓大廈管理維護股份有限公司」，除增設服務據點外，所經營服務項目：包括「建築物管理維護服務」、「停車場業務之經營」、「大樓機電空調管理」及「大樓清潔美護服務」等，為客戶提供專業、安全、負責及高品質之全方位服務，為「永續經營」奠定基石。<br>
          <br>
          隨著新光三越百貨公司及母公司新光保全陸續在大陸拓展據點的腳步，誼光保全也逐步推展業務，把誼光在台灣的成功經驗導入到大陸，服務台商及大陸客戶，讓誼光保全另創一片天空。<br>
          <br>
       		感謝! 中天娛樂台 今日台灣『賀新春』 單元 專訪 誼光保全 2010.1.13
      	</p>
        <div class="video-container">
          <iframe width="565" height="424" src="//www.youtube.com/embed/0fJ0e5N4v2k?rel=0&wmode=opaque" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="imgBlock">
          <span>
            <img src="/images/ab-img02.jpg" alt="國際認證 ISO 9001:2008"><br>
            <b>國際認證 ISO 9001:2008</b>
          </span>
          <span>
            <img src="/images/ab-img03.jpg" alt="天下雜誌排行榜 評選為 500 大服務業之榮譽"><br>
            <b>天下雜誌排行榜<br>評選為 500 大服務業之榮譽</b>
          </span>
        </div>
      </div>
      <div class="col-sm-4 hidden-xs"><img src="/images/ab-img01.png"></div>
    </div>
  </section>
</article>

<div id="subMenu" class="visible-xs-block">
  <%= render :partial => 'layouts/intro_menu' %>
</div>