
<article _height="auto" id="service">
  <section class="content">
    <nav><a href="index.html">首頁</a><span>></span><a href="<%= services_path %>">服務項目</a><span>></span><a>叭叭房</a></nav>
    <div class="inner bbh">
    
      <%= render 'left_menu' %>
      
      <div class="right"> <a href="<%= services_path %>"  class="back">回到服務項目</a>
        <div id="intro"> <img src="/images/bbh-logo.jpg"><br><br>
          <h3 style="color:#005191">專業保全與科技管理，打造優質停車空間</h3>
          <p>誼光自民國 87 年起經營停車場事業，擁有近 20 年專業停車場開發規劃及營運管理經驗，在全台已開發超過 36 個停車場、6000 個停車位，每年服務上百萬車主，秉持保全專業與高科技管理，提升停車場安全與經濟效益，因應未來趨勢，叭叭房停車場管理將逐步邁向全自動無人化經營，並採用內建 GPS 和車牌辨識系統設備，提供車主最優質的服務。</p>
          <img src="/images/bbh-00.jpg"> </div>
        <!--bbh-intro--> 
      </div>
    </div>
  </section>
</article>