<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<meta charset="utf-8">
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<meta name="Robots" content="index,follow"/>
<meta name="keywords" content="誼光保全,新光保全,銀行警衛,物業管理,誼光國際,誼光迷你倉,叭叭房,誼光家事,百貨賣場保全,工商園區保全與管理,住家保全與管理"/>
<title>誼光保全，守護您安居樂業的生活</title>
<meta name="description" content="誼光保全連續7年獲得駐衛警保全排行第1的榮譽，是銀行與金融單位指定警衛的首選，也提供社區大樓全方位的物業管理服務，服務項目包括：銀行駐衛警、百貨賣場保全、工商園區保全與管理、住家保全與管理；我們有超過4,000位訓練有素的人員，與子公司叭叭房停車場、誼光迷你倉，滿足您不同層面的需求，請立刻聯絡誼光保全 02-25073286 " />
<meta property="og:site_name" content="立刻聯絡誼光保全 02-25073286"/>
<meta property="og:title" content="誼光保全，守護您安居樂業的生活"/>
<meta property="og:description" content="誼光保全連續7年獲得駐衛警保全排行第1的榮譽，是銀行與金融單位指定警衛的首選，也提供社區大樓全方位的物業管理服務，服務項目包括：銀行駐衛警、百貨賣場保全、工商園區保全與管理、住家保全與管理；我們有超過4,000位訓練有素的人員，與子公司叭叭房停車場、誼光迷你倉，滿足您不同層面的需求，請立刻聯絡誼光保全 02-25073286 "/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="http://park.summers.com.tw/toto/yks/images/thumb.jpg">
<link rel="image_src" href="http://park.summers.com.tw/toto/yks/images/thumb.jpg">
<link rel="shortcut icon" href="http://park.summers.com.tw/toto/yks/images/favicon.ico"/>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/inside.css">
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/auto-full-height.min.js"></script>
<script>

$(function(){	
	var _showTab = 0;
	var $defaultLi = $('.left li').eq(_showTab).addClass('active');
	$($defaultLi.find('a').attr('href')).siblings().hide();
 
	$('.left li').click(function() {		
		var $this = $(this),
			_clickTab = $this.find('a').attr('href');		
			console.log($this.parent().parent())
		$('.left').find('.active').removeClass('active');		
		$this.addClass('active')
		$(_clickTab).stop(false, true).fadeIn().siblings().hide();
 
		return false;
	}).find('a').focus(function(){
		this.blur();
	});
});
</script>
<style>
#banner .content { background: url(images/sv-banner.jpg) right 0 no-repeat }
</style>
</head>

<body>
<header _height="none">
  <section class="content">
    <h1></h1>
    <nav><a href="#">最新消息</a><a href="#">公司簡介</a><a href="#">服務項目</a><a href="#">聯絡誼光</a><a href="#">保全百科</a><a href="#">客戶表列</a><a href="#">事業體表列</a><a href="#">回首頁</a></nav>
  </section>
</header>
<div id="banner" _height="none">
  <section class="content">
    <nav><a class="active"><img src="images/sv-nav.png"></a></nav>
  </section>
</div>
<article _height="auto" id="service">
  <section class="content">
    <nav><a href="index.html">首頁</a><span>></span><a href="#">服務項目</a><span>></span><a>叭叭房</a></nav>
    <div class="inner">
      <div class="left">
        <h3>叭叭房</h3>
        <h4>北區</h4>
        <ul class="tab">
          <li><a href="#bbh-1">曼哈頓</a></li>
          <li><span>│</span></li>
          <li><a href="#bbh-2">NASA</a></li>
          <li><span>│</span></li>
          <li><a href="#bbh-3">747車場</a></li>
          <li><a href="#bbh-4">亞太A區</a></li>
          <li><span>│</span></li>
          <li><a href="#bbh-5">新光醫院A1</a></li>
          <li><span>│</span></li>
          <li><a href="#bbh-6">美崙</a></li>
          <li><a href="#bbh-7">亞太C區</a></li>
          <li><span>│</span></li>
          <li><a href="#bbh-8">新光醫院B3</a></li>
          <li><span>│</span></li>
          <li><a href="#bbh-9">聖賢大樓</a></li>
          <li><a href="#bbh-10">內湖科技</a></li>
          <li><span>│</span></li>
          <li><a href="#bbh-11">基河</a></li>
          <li><span>│</span></li>
          <li><a href="#bbh-12">大台北瓦斯</a></li>
          <li><a href="#bbh-13">北瓦</a></li>
          <li><span>│</span></li>
          <li><a href="#bbh-14">建北</a></li>
          <li><span>│</span></li>
          <li><a href="#bbh-15">西湖</a></li>
        </ul>
        <h4>中區</h4>
        <ul class="tab">
          <li><a href="#bbh-16">西湖大樓</a></li>
          <li><span>│</span></li>
          <li><a href="#bbh-17">陽光大樓</a></li>
          <li><span>│</span></li>
          <li><a href="#bbh-18">新烏日車站</a></li>
        </ul>
        <h4>南區</h4>
        <ul class="tab">
          <li><a href="#bbh-19">奇美永康</a></li>
          <li><span>│</span></li>
          <li><a href="#bbh-20">奇美永康第3</a></li>
          <li><span>│</span></li>
          <li><a href="#bbh-21">奇美柳營</a></li>
        </ul>
        <h4>東區</h4>
        <ul class="tab">
          <li><a href="#bbh-22">宜蘭</a></li>
        </ul>
      </div>
      <div class="right"> <a href="#"  class="back">回到叭叭房簡介</a>
        <div id="bbh-box">
          <div id="bbh-1" class="bbh">
            <h5> 曼<br>
              哈<br>
              頓<br>
            </h5>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="form">
              <tr>
                <th width="120">地址</th>
                <td colspan="2">台北市信義區xx路xx號</td>
              </tr>
              <tr>
                <th>電話</th>
                <td colspan="2">02-1234-5678</td>
              </tr>
              <tr>
                <th>營業時間</th>
                <td colspan="2">24小時</td>
              </tr>
              <tr>
                <th>停車型態</th>
                <td colspan="2">室內</td>
              </tr>
              <tr>
                <th>停車設備</th>
                <td colspan="2">平面</td>
              </tr>
              <tr>
                <th rowspan="2">車位數</th>
                <td width="148">汽車</td>
                <td width="147" align="center" class="text">45元</td>
              </tr>
              <tr>
                <td width="148">機車</td>
                <td width="147" align="center" class="text">&nbsp;</td>
              </tr>
              <tr>
                <th rowspan="5">計時</th>
                <td>1小時</td>
                <td align="center" class="text">40元</td>
              </tr>
              <tr>
                <td>半小時</td>
                <td align="center" class="text">20元</td>
              </tr>
              <tr>
                <td>每日最高</td>
                <td align="center" class="text">250元</td>
              </tr>
              <tr>
                <td>進場免費時間</td>
                <td align="center" class="text">10分鐘</td>
              </tr>
              <tr>
                <td>繳費後出場時間</td>
                <td align="center" class="text">10分鐘</td>
              </tr>
              <tr>
                <th>計次</th>
                <td width="148">當日當次</td>
                <td width="147" align="center" class="text">100元</td>
              </tr>
              <tr>
                <th rowspan="4">月租</th>
                <td>月繳</td>
                <td align="center" class="text">15000元</td>
              </tr>
              <tr>
                <td>季繳</td>
                <td align="center" class="text">5000元</td>
              </tr>
              <tr>
                <td>半年繳</td>
                <td align="center" class="text">&nbsp;</td>
              </tr>
              <tr>
                <td>年繳</td>
                <td align="center" class="text">&nbsp;</td>
              </tr>
              <tr>
                <th rowspan="2">日租</th>
                <td width="148">時間</td>
                <td width="147" align="center" class="text">&nbsp;</td>
              </tr>
              <tr>
                <td width="148">租金</td>
                <td width="147" align="center" class="text">&nbsp;</td>
              </tr>
              <tr>
                <th rowspan="2">夜租</th>
                <td width="148">時間</td>
                <td width="147" align="center" class="text">&nbsp;</td>
              </tr>
              <tr>
                <td width="148">租金</td>
                <td width="147" align="center" class="text">&nbsp;</td>
              </tr>
            </table>
            <div style="clear:both;text-align:right;color:#aaa;font-size:12px">如有異動，以現場公告費率為主</div>
            <div class="photo"> <img src="images/bbh-01.jpg"> </div>
          </div>
          <!--bbh-1--> 
          <div id="bbh-2" class="bbh">
          </div><!--bbh-2--> 
          <div id="bbh-3" class="bbh">
          </div><!--bbh-3--> 
          <div id="bbh-4" class="bbh">
          </div><!--bbh-4--> 
          <div id="bbh-5" class="bbh">
          </div><!--bbh-5--> 
          <div id="bbh-6" class="bbh">
          </div><!--bbh-6--> 
          <div id="bbh-7" class="bbh">
          </div><!--bbh-7--> 
          <div id="bbh-8" class="bbh">
          </div><!--bbh-8--> 
          <div id="bbh-9" class="bbh">
          </div><!--bbh-9--> 
          <div id="bbh-10" class="bbh">
          </div><!--bbh-10--> 
          <div id="bbh-11" class="bbh">
          </div><!--bbh-11--> 
          <div id="bbh-12" class="bbh">
          </div><!--bbh-12--> 
          <div id="bbh-13" class="bbh">
          </div><!--bbh-13--> 
          <div id="bbh-14" class="bbh">
          </div><!--bbh-14--> 
          <div id="bbh-15" class="bbh">
          </div><!--bbh-15--> 
          <div id="bbh-16" class="bbh">
          </div><!--bbh-16--> 
          <div id="bbh-17" class="bbh">
          </div><!--bbh-17--> 
          <div id="bbh-18" class="bbh">
          </div><!--bbh-18--> 
          <div id="bbh-19" class="bbh">
          </div><!--bbh-19--> 
          <div id="bbh-20" class="bbh">
          </div><!--bbh-20--> 
          <div id="bbh-21" class="bbh">
          </div><!--bbh-21--> 
          <div id="bbh-22" class="bbh">
          </div><!--bbh-22--> 
        </div>
        <!--bbh-box--> 
      </div>
    </div>
  </section>
</article>
<footer _height="none">
  <section class="content"> <img src="images/logo.png" width="158" height="40">
    <p>誼光保全股份有限公司 ‧ 誼光國際公寓大廈管理股份有限公司<br>
      版權所有 c2013 YKS. All Rights Reserved. </p>
  </section>
</footer>
</body>
</html>
