
<link rel="stylesheet" href="/css/inside.css">

<style>
#banner .content { background: url(/images/sv-banner.jpg) right 0 no-repeat }
</style>


<div id="banner" _height="none">
  <section class="content">
    <nav><a class="active"><img src="/images/sv-nav.png"></a></nav>
  </section>
</div>
<article _height="auto" id="service">
  <section class="content">
    <nav><a href="index.html">首頁</a><span>></span><a href="<%= services_path %>">服務項目</a><span>></span><a>叭叭房</a></nav>
    <div class="inner bbh">
      <%= render 'left_menu' %>
      <div class="right"> <a href="<%= page_pages_path( :page => 'babahome' ) %>"  class="back">回到叭叭房簡介</a>
        <div id="content">
          <h5>聖<br>
            賢<br>
            大<br>
            樓 </h5>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="form">
            <tr>
              <th width="120">地址</th>
              <td colspan="2">台北市士林區士商路51號</td>
            </tr>
            <tr>
              <th>電話</th>
              <td colspan="2">02-2515-7055</td>
            </tr>
            <tr>
              <th>營業時間</th>
              <td colspan="2">24H</td>
            </tr>
            <tr>
              <th>停車型態</th>
              <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <th>停車設備</th>
              <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <th rowspan="2">車位數</th>
              <td width="148">汽車</td>
              <td width="147" align="center" class="text">58</td>
            </tr>
            <tr>
              <td width="148">機車</td>
              <td width="147" align="center" class="text">67</td>
            </tr>
            <tr>
              <th rowspan="5">計時</th>
              <td>1小時</td>
              <td align="center" class="text">50</td>
            </tr>
            <tr>
              <td>半小時</td>
              <td align="center" class="text">25</td>
            </tr>
            <tr>
              <td>每日最高</td>
              <td align="center" class="text">800</td>
            </tr>
            <tr>
              <td>進場免費時間</td>
              <td align="center" class="text">30分</td>
            </tr>
            <tr>
              <td>繳費後出場時間</td>
              <td align="center" class="text">15分</td>
            </tr>
            <tr>
              <th>計次</th>
              <td width="148">機車</td>
              <td width="147" align="center" class="text">20</td>
            </tr>
            <tr>
              <th rowspan="4">月租</th>
              <td>月繳</td>
              <td align="center" class="text">2,500</td>
            </tr>
            <tr>
              <td>季繳</td>
              <td align="center" class="text">7,500</td>
            </tr>
            <tr>
              <td>半年繳</td>
              <td align="center" class="text">&nbsp;</td>
            </tr>
            <tr>
              <td>年繳</td>
              <td align="center" class="text">&nbsp;</td>
            </tr>
            <tr>
              <th rowspan="2">日租</th>
              <td width="148">時間</td>
              <td width="147" align="center" class="text">&nbsp;</td>
            </tr>
            <tr>
              <td width="148">租金</td>
              <td width="147" align="center" class="text">&nbsp;</td>
            </tr>
            <tr>
              <th rowspan="2">夜租</th>
              <td width="148">時間</td>
              <td width="147" align="center" class="text">&nbsp;</td>
            </tr>
            <tr>
              <td width="148">租金</td>
              <td width="147" align="center" class="text">&nbsp;</td>
            </tr>
            <tr>
              <th>備註</th>
              <td colspan="2">代管</td>
            </tr>
          </table>
        </div>
        <br>
        <div class="photo"> <img src="/images/bbh/4-1.jpg"><br>
          <br>
          <img src="/images/bbh/4-2.jpg"> </div>
        </div>
      </div>
    </div>
  </section>
</article>