
<style>
#banner .content { background: url(images/sv-banner.jpg) right 0 no-repeat }
</style>
<article _height="auto" id="service">
  <section class="content">
    <nav><a href="<%= root_url %>">首頁</a><span>></span><a href="<%= services_path %>">服務項目</a><span>></span><a>叭叭房</a></nav>
    <div class="inner bbh">
      <div class="left">
        <h3>叭叭房</h3>
        <h4>北區</h4>
        <ul class="tab">
          <li class="active"><a href="bbh-1.html">曼哈頓</a></li>
          <li><span>│</span></li>
          <li><a href="bbh-2.html">NASA</a></li>
          <li><span>│</span></li>
          <li><a href="bbh-3.html">747車場</a></li>
          <br>
          <br>
          <li><a href="bbh-4.html">亞太A區</a></li>
          <li><span>│</span></li>
          <li><a href="bbh-5.html">新光醫院A1</a></li>
          <li><span>│</span></li>
          <li><a href="bbh-6.html">美崙</a></li>
          <br>
          <br>
          <li><a href="bbh-7.html">亞太C區</a></li>
          <li><span>│</span></li>
          <li><a href="bbh-8.html">新光醫院B3</a></li>
          <li><span>│</span></li>
          <li><a href="bbh-9.html">聖賢大樓</a></li>
          <br>
          <br>
          <li><a href="bbh-10.html">內湖科技</a></li>
          <li><span>│</span></li>
          <li><a href="bbh-11.html">基河</a></li>
          <li><span>│</span></li>
          <li><a href="bbh-12.html">大台北瓦斯</a></li>
          <br>
          <br>
          <li><a href="bbh-13.html">北瓦</a></li>
          <li><span>│</span></li>
          <li><a href="bbh-14.html">建北</a></li>
          <li><span>│</span></li>
          <li><a href="bbh-15.html">西湖</a></li>
        </ul>
        <h4>中區</h4>
        <ul class="tab">
          <li><a href="bbh-16.html">西湖大樓</a></li>
          <li><span>│</span></li>
          <li><a href="bbh-17.html">陽光大樓</a></li>
          <li><span>│</span></li>
          <li><a href="bbh-18.html">新烏日車站</a></li>
        </ul>
        <h4>南區</h4>
        <ul class="tab">
          <li><a href="bbh-19.html">奇美永康</a></li>
          <li><span>│</span></li>
          <li><a href="bbh-20.html">奇美永康第3</a></li>
          <li><span>│</span></li>
          <li><a href="bbh-21.html">奇美柳營</a></li>
        </ul>
        <h4>東區</h4>
        <ul class="tab">
          <li><a href="bbh-22.html">宜蘭</a></li>
        </ul>
      </div>
      <div class="right"> <a href="<%= page_pages_path( :page => 'bbh' ) %>"  class="back">回到叭叭房簡介</a>
        <div id="content">
<h5> 曼<br>
              哈<br>
              頓<br>
            </h5>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="form">
              <tr>
                <th width="120">地址</th>
                <td colspan="2">台北市信義區xx路xx號</td>
              </tr>
              <tr>
                <th>電話</th>
                <td colspan="2">02-1234-5678</td>
              </tr>
              <tr>
                <th>營業時間</th>
                <td colspan="2">24小時</td>
              </tr>
              <tr>
                <th>停車型態</th>
                <td colspan="2">室內</td>
              </tr>
              <tr>
                <th>停車設備</th>
                <td colspan="2">平面</td>
              </tr>
              <tr>
                <th rowspan="2">車位數</th>
                <td width="148">汽車</td>
                <td width="147" align="center" class="text">45元</td>
              </tr>
              <tr>
                <td width="148">機車</td>
                <td width="147" align="center" class="text">&nbsp;</td>
              </tr>
              <tr>
                <th rowspan="5">計時</th>
                <td>1小時</td>
                <td align="center" class="text">40元</td>
              </tr>
              <tr>
                <td>半小時</td>
                <td align="center" class="text">20元</td>
              </tr>
              <tr>
                <td>每日最高</td>
                <td align="center" class="text">250元</td>
              </tr>
              <tr>
                <td>進場免費時間</td>
                <td align="center" class="text">10分鐘</td>
              </tr>
              <tr>
                <td>繳費後出場時間</td>
                <td align="center" class="text">10分鐘</td>
              </tr>
              <tr>
                <th>計次</th>
                <td width="148">當日當次</td>
                <td width="147" align="center" class="text">100元</td>
              </tr>
              <tr>
                <th rowspan="4">月租</th>
                <td>月繳</td>
                <td align="center" class="text">15000元</td>
              </tr>
              <tr>
                <td>季繳</td>
                <td align="center" class="text">5000元</td>
              </tr>
              <tr>
                <td>半年繳</td>
                <td align="center" class="text">&nbsp;</td>
              </tr>
              <tr>
                <td>年繳</td>
                <td align="center" class="text">&nbsp;</td>
              </tr>
              <tr>
                <th rowspan="2">日租</th>
                <td width="148">時間</td>
                <td width="147" align="center" class="text">&nbsp;</td>
              </tr>
              <tr>
                <td width="148">租金</td>
                <td width="147" align="center" class="text">&nbsp;</td>
              </tr>
              <tr>
                <th rowspan="2">夜租</th>
                <td width="148">時間</td>
                <td width="147" align="center" class="text">&nbsp;</td>
              </tr>
              <tr>
                <td width="148">租金</td>
                <td width="147" align="center" class="text">&nbsp;</td>
              </tr>
            </table>
            <div style="clear:both;text-align:right;color:#aaa;font-size:12px">如有異動，以現場公告費率為主</div>
            <div class="photo"> <img src="/images/bbh-01.jpg"> </div>
          
        </div>
       
      </div>
    </div>
  </section>
</article>