
<div id="banner" _height="none">
  <section class="content">
    <nav><a class="active"><img src="/images/cl-nav.png"></a></nav>
  </section>
</div>
<article _height="auto" id="client">
  <section class="content">
    <nav><a href="<%= root_url %>">首頁</a><span>></span><a>客戶表列</a></nav>
    <div class="inner">
      <h3>全台代表性客戶</h3>
      <h4>金融單位：</h4>
      <p>玉山、星展、新光、國泰、第一、萬泰、臺銀.....等</p>
      <h4>工商園區：</h4>
      <p>南港軟體園區、、南台灣創新園區、新竹工業技術研究院、湯臣園區.....等</p>
      <h4>住宅社區：</h4>
      <p>仁愛御品大廈、花園城堡、華納花園、遠雄未來家、臨沂雙璽.....等</p>
      <h4>賣場百貨：</h4>
      <p>名統百貨、特力屋、新光三越、燦坤.....等</p>
      <h4>醫療院區：</h4>
      <p>仁濟醫院、奇美醫院、郭綜合、國軍花蓮總醫院、新光醫院.....等</p>
      <h4>教育單位：</h4>
      <p>日僑學校、台北教育大學、台北體育學院、台東大學、東華大學.....等</p>
 </div>
  </section>
</article>