
<%= render :partial => 'layouts/intro_menu' %>

<article _height="auto" id="control">
  <section class="content">
    <nav><a href="<%= root_url %>">首頁</a><span>></span><a>誼光管制中心</a></nav>
    <div class="inner">
      <h3>管制中心簡介</h3>
      <p>駐衛保全勤務管制中心領先各家保全公司首創設立，非一般系統保全，為駐衛保全量身定做。<br>
        功能簡介：於94年03月1日安裝完成，哨點上勤人員管控回報制度，逾時回報異常監視查察。<br>
        全省11個分公司裝設獨立伺服器，利用現有VPN傳輸，總公司可同步查詢資料<br>
        <br>
        ● <b>幹部巡查管控記錄</b>　● <b>客戶訪談記錄管制</b>　● <b>值日官值勤管控</b>　● <b>事故追蹤處理</b><br>
        <br>
      </p><img src="/images/ct-bg.jpg">
      </div>
  </section>
</article>