 
<%= render :partial => 'layouts/intro_menu' %>

<article _height="auto" id="control">
  <section class="content">
    <nav><a href="<%= root_url %>">首頁</a><span>></span><a>誼光管制中心</a></nav>
    <div class="inner">
		<div class="sec_01">
			<div class="text">
				<h3>高科技 24 小時勤務管制中心</h3>
				<p>為駐衛警保全量身訂做的勤務管制中心（非一般系統保全），制度化管理全台 3,000 多位保全、物管人員，第一時間掌控服務品質。</p>
				<ul>
					<li><span>&#9650;</span>全台 11 個營運處裝設獨立伺服器，利用 VPN 傳輸，總公司可同步查詢資料</li>
					<li><span>&#9650;</span>全台幹部巡查管控記錄</li>
					<li><span>&#9650;</span>客戶訪談記錄管制</li>
					<li><span>&#9650;</span>值日官值勤管控</li>
					<li><span>&#9650;</span>事故追蹤處理</li>
				</ul>
			</div>
			<div class="img">
				<img src="images/ct-img04.png" alt="">
			</div>
		</div>

		<div class="sec_02">
			<div class="imgGroup">
				<img src="images/ct-sec02_img01.png" alt="">
				<img src="images/ct-sec02_img02.png" alt="">
				<img src="images/ct-sec02_img03.png" alt="">
				<img src="images/ct-sec02_img04.png" alt="">
			</div>
			<div class="text">
				<h3>警衛差勤巡邏系統</h3>
				<p>為了準確掌握駐衛勤務人員的到離勤狀況，過去採用語音回報系統，易發生電話打不進來造成無法完成回報的情況，而每月影響薪水的時數系統，過於依賴人工，除了耗費大量時間，也容易產生錯誤，因此開發誼光保全差勤巡邏系統。</p>
				<h4>更進步的設計</h4>
				<ul>
					<li><span>&#9650;</span>建置客戶資料庫</li>
					<li><span>&#9650;</span>建置人員資料庫<br><span class="liInner">以往各單位資料庫分別由各部門或分公司自行保管 ，現在可整合進同一系統，統一管理</span></li>
					<li><span>&#9650;</span>差勤時數由系統自動代入<br><span class="liInner">節省人力時間，正確度大幅提升</span></li>
					<li><span>&#9650;</span>即時掌握警衛巡邏狀況<br><span class="liInner">現行巡邏系統較難準確掌握駐衛人員是否依規定時間進行巡邏，必須待幹部取回巡邏槍並連接電腦後，才能知道該哨人員是否依規定進行哨點巡邏任務，未來這類可能造成業主損失進而向公司求償的事故，將可減到最少</span></li>
				</ul>
			</div>
		</div>

		<div class="sec_03">
			<div class="text">
				<h3>智慧型 APP 幹部巡查系統</h3>
				<p>誼光善用高科技，透過雲端技術，整合智慧型手機、GPS 定位真實地圖與電腦軟體，即時掌握幹部督勤，確實到位巡查，誼光保全讓您絕對放心。</p>
				<ul>
					<li><span>&#9650;</span>巡查打卡即時管控</li>
					<li><span>&#9650;</span>管制中心定位追蹤</li>
					<li><span>&#9650;</span>狀況拍照即時上傳</li>
					<li><span>&#9650;</span>巡查歷史記錄查詢</li>
				</ul>
			</div>
			<div class="imgGroup">
				<img src="images/ct-sec03_img01.png" alt="">
				<img src="images/ct-sec03_img02.png" alt="">
			</div>
		</div>
	</div>
  </section>
</article>

<div id="subMenu" class="visible-xs-block">
  <%= render :partial => 'layouts/intro_menu' %>
</div>