<div id="banner" _height="none">
  <section class="content">
    <nav><a class="active"><img src="/images/et-nav.png"></a></nav>
  </section>
</div>
<article _height="auto" id="enterprise">
  <section class="content">
    <nav><a href="<%= root_url %>">首頁</a><span>></span><a>事業體表列</a></nav>
    <div class="inner">
      <p>
      誼光保全是屬新光保全事業群體系的一環，透由事業群體係資源的相互分享及資訊交流，使得誼光能夠擁有豐富的資源，能提供予客戶多元化的服務。
例如新光保全的系統保全服務、台灣保全的現金運送服務、新誼整合的數位監控產品、門禁產品、及各種e化的資訊平台等，透由集團的力量，以團隊的方式來完成任務，並滿足客戶所有的需要。</p>
<h3>新光關係企業</h3>
<div class="image-box"><img src="/images/et-01.jpg"></div>
<h3>新保事業群</h3>
<div class="image-box"><img src="/images/et-02.jpg"></div>
<h3>新保事業群分工</h3>
<div class="image-box"><img src="/images/et-03.jpg"></div>
 </div>
  </section>
</article>