<article _height="auto" id="service">
  <section class="content">
    <nav><a href="/">首頁</a><span>></span><a href="<%= services_path %>">服務項目</a><span>></span><a>誼光迷你倉</a></nav>
    <div class="inner mnh">
      <div class="left">
        <h3>誼光迷你倉</h3>
        <ul>
          <li><a href="<%= page_pages_path( :page => 'ministorage-1' ) %>">桃園店</a></li>
          <li><a href="<%= page_pages_path( :page => 'ministorage-2' ) %>">南港店籌備中</a></li>                     
        </ul> 
        <a target="_blank" href="http://sitetag.us/profile/ykministorage/34ea9c69e429d75ac959f6a380b34af5"><img src="http://pub.sitetag.us/img_track.png" alt="Sitetag"></a><script type="text/javascript" src="http://track.sitetag.us/tracking.js?hash=34ea9c69e429d75ac959f6a380b34af5"></script> 
      </div>
      <div class="right"> <a href="<%= services_path %>"  class="back">回到服務項目</a>
        <div id="intro"> <img src="/images/mnh-01.jpg">
          <p> 網拍貨品、嗜好收藏、公司帳冊…隨著時間累積，儲藏空間不夠用，是收納高手也無法解決的問題，居家和辦公區域擁擠雜亂，甚至影響生活工作品質；搬家裝潢、出國留學、短期儲藏需求，更需要經濟方便的私人空間來存放物品，<b>誼光迷你倉是個人化的小型倉儲，提供公司企業、家庭個人輕鬆打造專屬獨立的儲存小天地，有效利用空間，讓您的生活更舒適。</b> </p>
        <img src="/images/mnh-02.jpg">
        
        <p>誼光保全是國內駐衛警公司領導品牌，榮獲約<br>
        700 家銀行與金融單位長期指定合作，天下雜誌<br>
        2007～2013 年調查，本公司連續 7 年獲得駐衛<br>
        警保全名列前茅的榮譽。以 20 年專業保全經驗，<br>
        為創立於 2013 年的誼光迷你倉提供最高規格的<br>
        防護，讓您安心儲藏商業資料與私人物品；除了<br>
        安全服務，誼光更有近 20 年大樓物業管理、機電<br>
        空調維護、清潔美化的專業經驗，為您打造最乾淨<br>
        舒適的倉儲環境。<br>
        <br>
        </p> 
        <img src="/images/mnh-04.jpg"> 
        <ul>
        	<li><img src="/images/mnh-06.jpg"> 安全門禁設定、刷卡進出</li>
          <li><img src="/images/mnh-06.jpg"> 24 小時 CCTV 高解析度錄影監控</li>
          <li><img src="/images/mnh-06.jpg"> 24 小時濕度監控（55～65 度）</li>
          <li><img src="/images/mnh-06.jpg"> 溫度控制，保障儲物品質</li>
          <li><img src="/images/mnh-06.jpg"> 環境定期消毒，每日專人清潔</li>
          <li><img src="/images/mnh-06.jpg"> 高規格消防設施：指示燈、自動排煙閘門、偵煙器、消防栓、乾粉滅火器…等<br>
            <br>
          </li>
        </ul>
        <img src="/images/mnh-05.jpg">
        <ul>
        	<li><img src="/images/mnh-07.jpg"> 免費提供 WiFi 上網</li>
          <li><img src="/images/mnh-07.jpg"> 提供手推車、梯子、自動昇降機方便搬運存放物品</li>
          <li><img src="/images/mnh-07.jpg"> 提供紙箱、膠帶、PE 包膜、鎖…等包材，方便您選購包裝</li>
          <li><img src="/images/mnh-07.jpg"> 提供停車位及卸貨專區</li>          
        </ul>
        </div>
      </div>
    </div>
  </section>
</article>