<article _height="auto" id="service">
  <section class="content">
    <nav><a href="/">首頁</a><span>></span><a href="<%= services_path %>">服務項目</a><span>></span><a>誼光迷你倉</a></nav>
    <div class="inner mnh">
      <div class="left">
        <h3>誼光迷你倉</h3>        
        <ul>
          <li><a href="<%= page_pages_path( :page => 'ministorage-1' ) %>">桃園店</a></li> 
          <li><a href="<%= page_pages_path( :page => 'ministorage-2' ) %>">南港店籌備中</a></li>                    
        </ul>
        <a target="_blank" href="http://sitetag.us/profile/ykministorage/34ea9c69e429d75ac959f6a380b34af5" style="margin:10px 0 0 10px"><img src="http://pub.sitetag.us/img_track.png" alt="Sitetag"></a><script type="text/javascript" src="http://track.sitetag.us/tracking.js?hash=34ea9c69e429d75ac959f6a380b34af5"></script>                    
      </div>
      <div class="right"> <a href="<%= page_pages_path( :page => 'ministorage' ) %>"  class="back">回到迷你倉簡介</a>
        <div id="content">
          <h5>南港店籌備中</h5>
          <img src="/images/mnh-08.jpg">
          
          <h6>台北市南港區三重路 19-6 號 1F</h6>
          <img src="/images/mnh-10.jpg">
          <p>
          來電洽詢：02-26552397<br>
          開放時間：24 小時門禁刷卡進出<br>
客服時間：周一～周五，上午 10 點～晚上 7 點<br>
　　　　　周六上午 10 點～晚上 6 點<br>
　　　　　周日及例假日公休<br>
鄰近地標：南港軟體園區
          </p>
          </div>
      </div>
    </div>
  </section>
</article>