<article _height="auto" id="service">
  <section class="content">
    <nav><a href="/">首頁</a><span>></span><a href="<%= services_path %>">服務項目</a><span>></span><a>誼光迷你倉</a></nav>
    <div class="inner mnh">
      <div class="left">
        <h3>誼光迷你倉</h3>        
        <ul>
          <li><a href="<%= page_pages_path( :page => 'ministorage-1' ) %>">桃園店</a></li> 
          <li><a href="<%= page_pages_path( :page => 'ministorage-2' ) %>">南港店</a></li>                    
        </ul>
        <a target="_blank" href="http://sitetag.us/profile/ykministorage/34ea9c69e429d75ac959f6a380b34af5" style="margin:10px 0 0 10px"><img src="http://pub.sitetag.us/img_track.png" alt="Sitetag"></a><script type="text/javascript" src="http://track.sitetag.us/tracking.js?hash=34ea9c69e429d75ac959f6a380b34af5"></script>                    
      </div>
      <div class="right"> <a href="<%= page_pages_path( :page => 'ministorage' ) %>"  class="back">回到迷你倉簡介</a>
        <div id="content">
          <h5>南港店</h5>
          <img src="/images/mnh/2-1.jpg">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <th width="14%">規格</th>
              <th width="61%">尺寸（cm）</th>
              <th width="25%">月租</th>
            </tr>
            <tr>
              <td rowspan="3" align="center" style="border-left:none;border-bottom:2px solid #ED7818">小S</td>
              <td>上層：70 x 110 x 120 ～ 90 x 90 x 120</td>
              <td align="center">770元起</td>
            </tr>
            <tr>
              <td>下層：700 x 110 x 150 ～ 100 x 150 x 150</td>
              <td align="center">1270元起</td>
            </tr>
            <tr>
              <td colspan="2" style="border-bottom:2px solid #ED7818;border-right:none">裝箱物品、公司文件、樂器、小茶几、小酒櫃、私人收藏品、公仔、<br>
                行李箱、玩具、娃娃車、紀念品、換季衣物、電器、高爾夫球具</td>
            </tr>
            <tr>
              <td rowspan="3" align="center" style="border-left:none;border-bottom:2px solid #ED7818">中M</td>
              <td>上層：100 x 120 x 120 ～ 120 x 150 x 120</td>
              <td align="center">1270元起</td>
            </tr>
            <tr>
              <td>下層：120 x 150 x 150 ～ 200 x 150 x 270</td>
              <td align="center">2270元起</td>
            </tr>
            <tr>
              <td colspan="2" style="border-bottom:2px solid #ED7818">電風扇、小櫃子、洗衣機、冬被收藏、桌椅、電視、單人床墊、棉被<br>
                吸塵器、畫作、腳踏車、中型家具</td>
            </tr>
            <tr>
              <td rowspan="3" align="center" style="border-left:none;border-bottom:none">大L</td>
              <td>下層：220 x 150 x 270 ～ 275 x 240 x 270</td>
              <td align="center">5570元起</td>
            </tr>            
            <tr>
              <td colspan="2" style="border-bottom:none">沙發組、家電、衣櫥、雙人床組、大型生財器具、大批貨物、影印機<br>
                模型、會議桌、書櫃、設備存放、展覽用品暫放</td>
            </tr>
          </table>
          <p>
          1.  長租優惠：季租95折、半年租9折、年租8折<br>
          2.  上層-適合存放較輕、不常拿取的物品<br>
          　　下層-適合存放較重、常拿取的物品<br>
          3.  現場另有更多不同尺寸供您選擇</p>
          <br>
          <img src="/images/mnh/2-2.jpg"><br>
          <img src="/images/mnh/2-3.jpg"><br>
          <h6>台北市南港區三重路 19-6 號 1F</h6>
          <img src="/images/mnh/2-4.jpg"><br>
          <p>
          聯繫資訊<br>          
          客服專線：02-2655-2397<br>
          客服信箱：<a href="mailto:ymss@yks.com.tw" target="_blank">ymss@yks.com.tw</a><br>
          開放時間：24 小時門禁刷卡進出<br>
          客服時間：週一~週五    09:00~18:00<br>
          　　　　　週六         預約制<br>
          　　　　　週日及例假日 公休<br>
          鄰近地標：南港軟體園區、南港展覽館捷運站、南港國小、南港火車站
          </p>
          </div>
      </div>
    </div>
  </section>
</article>