<article _height="auto" id="service">
  <section class="content">
    <nav><a href="/">首頁</a><span>></span><a href="<%= services_path %>">服務項目</a><span>></span><a>誼光迷你倉</a></nav>
    <div class="inner mnh">
      <div class="left">
        <h3>誼光迷你倉</h3>
        <ul>
          <li><a href="<%= page_pages_path( :page => 'ministorage-1' ) %>">桃園店</a></li> 
          <li><a href="<%= page_pages_path( :page => 'ministorage-2' ) %>">南港店籌備中</a></li>                    
        </ul>   
      </div>
      <div class="right"> <a href="<%= page_pages_path( :page => 'ministorage' ) %>"  class="back">回到迷你倉簡介</a>
        <div id="content">
          <h5>桃園店</h5>
          <h6>大桃園第一家迷你倉，佔地三百餘坪</h6>
          <img src="/images/mnh-08.jpg">
          <h6>經濟的價格，輕鬆擁有迷你倉</h6>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <th width="14%">規格</th>
              <th width="61%">尺寸（cm）</th>
              <th width="25%">月租</th>
            </tr>
            <tr>
              <td rowspan="3" align="center" style="border-left:none;border-bottom:2px solid #ED7818">小S</td>
              <td>上層：150 x 100 x 110 ～ 150 x 120 x 140</td>
              <td align="center">770  ～  970 元</td>
            </tr>
            <tr>
              <td>下層：100 x 150 x 190 ～ 120 x 140 x 200</td>
              <td align="center">1470 ～ 1670元</td>
            </tr>
            <tr>
              <td colspan="2" style="border-bottom:2px solid #ED7818;border-right:none">裝箱物品、公司文件、樂器、小茶几、小酒櫃、私人收藏品、公仔、<br>
                行李箱、玩具、娃娃車、紀念品、換季衣物、電器、高爾夫球具</td>
            </tr>
            <tr>
              <td rowspan="3" align="center" style="border-left:none;border-bottom:2px solid #ED7818">中M</td>
              <td>上層：150 x 120 x 150 ～ 150 x 156 x 140</td>
              <td align="center">1070 ～ 1270元</td>
            </tr>
            <tr>
              <td>下層：120 x 156 x 200 ～ 150 x 176 x 200</td>
              <td align="center">1770 ～ 2370元</td>
            </tr>
            <tr>
              <td colspan="2" style="border-bottom:2px solid #ED7818">電風扇、小櫃子、洗衣機、冬被收藏、桌椅、電視、單人床墊、棉被<br>
                吸塵器、畫作、腳踏車、中型家具</td>
            </tr>
            <tr>
              <td rowspan="3" align="center" style="border-left:none;border-bottom:none">大L</td>
              <td>上層：150 x 176 x 140 ～ 120 x 208 x 140</td>
              <td align="center">1370 ～ 2070元</td>
            </tr>
            <tr>
              <td>下層：120 x 238 x 200 ～ 220 x 216 x 250</td>
              <td align="center">2670 ～ 4870元</td>
            </tr>
            <tr>
              <td colspan="2" style="border-bottom:none">沙發組、家電、衣櫥、雙人床組、大型生財器具、大批貨物、影印機<br>
                模型、會議桌、書櫃、設備存放、展覽用品暫放</td>
            </tr>
          </table>
          <p> 1. 長租優惠：季租 95 折、半年租 9 折、年租 8 折<br>
            2. 上層：適合放置較輕的物品<br>
            3. 另有其它不同尺寸可選擇，歡迎參觀洽詢 </p>
          <h6>桃園市復興路 205 號（新光國際金融大樓）</h6>
          <img src="/images/mnh-09.jpg">
          <p>
          來電洽詢：03-3319862<br>
          開放時間：24 小時門禁刷卡進出<br>
客服時間：周一～周五，上午 10 點～晚上 7 點<br>
　　　　　周六上午 10 點～晚上 6 點<br>
　　　　　周日及例假日公休<br>
鄰近地標：桃園火車站（600 公尺）、桃新醫院旁、中華電信旁
          </p>
          </div>
      </div>
    </div>
  </section>
</article>