<%= render :partial => 'layouts/intro_menu' %>

<article _height="auto" id="office">
  <section class="content">
    <nav><a href="<%= root_url %>">首頁</a><span>></span><a>服務據點</a></nav>
    <div class="inner">
      <div class="column">
        <div class="grid"> <b>總  公  司</b> <br>
          <address>新北市板橋區中山路 1 段 141 號 4 樓<a class="map" href="https://www.google.com/maps/place/220%E5%8F%B0%E7%81%A3%E6%96%B0%E5%8C%97%E5%B8%82%E6%9D%BF%E6%A9%8B%E5%8D%80%E4%B8%AD%E5%B1%B1%E8%B7%AF%E4%B8%80%E6%AE%B5141%E8%99%9F/@25.011203,121.463015,17z/data=!4m13!1m7!3m6!1s0x3442a81e9cf4fed9:0x275cbbd8a2a79700!2zMjIw5Y-w54Gj5paw5YyX5biC5p2_5qmL5Y2A5Lit5bGx6Lev5LiA5q61MTQx6Jmf!3b1!8m2!3d25.011203!4d121.463015!3m4!1s0x3442a81e9cf4fed9:0x275cbbd8a2a79700!8m2!3d25.011203!4d121.463015?hl=zh-TW" target="_blank"></a></address><br>
          <a class="tel" href="tel:0229648288" target="_blank">(02)2964-8288</a>
        </div>
        <div class="grid"> <b>南港營運處</b> <br>
          <address>台北市南港區三重路 19-6 號 1 樓<a class="map" href="https://www.google.com.tw/maps/place/115%E5%8F%B0%E5%8C%97%E5%B8%82%E5%8D%97%E6%B8%AF%E5%8D%80%E4%B8%89%E9%87%8D%E8%B7%AF19-6%E8%99%9F/@25.057063,121.613737,17z/data=!3m1!4b1!4m2!3m1!1s0x3442ab5881ed5a01:0xf1fd9515ad913fc4" target="_blank"></a></address><br>
          <a class="tel" href="tel:0226550000" target="_blank">(02)2655-0000</a>
        </div>
        <div class="grid"> <b>台北營運處</b> <br>
          <address>台北市松山區光復北路 11 巷 33 號 B1<a class="map" href="https://www.google.com.tw/maps/place/105%E5%8F%B0%E5%8C%97%E5%B8%82%E6%9D%BE%E5%B1%B1%E5%8D%80%E5%85%89%E5%BE%A9%E5%8C%97%E8%B7%AF11%E5%B7%B733%E8%99%9F/@25.0498891,121.5573564,17z/data=!3m1!4b1!4m5!3m4!1s0x3442abeab6785ecf:0x89ec9620cff78ebf!8m2!3d25.0498891!4d121.5595451" target="_blank"></a></address><br>
           <a class="tel" href="tel:0225178791" target="_blank">(02)-2742-5656</a>
         </div>
         <div class="grid"> <b>南汐辦事處</b> <br>
          <address>台北市南港區南港路一段 173 號 5 樓<a class="map" href="https://www.google.com.tw/maps/place/115%E5%8F%B0%E5%8C%97%E5%B8%82%E5%8D%97%E6%B8%AF%E5%8D%80%E5%8D%97%E6%B8%AF%E8%B7%AF%E4%B8%80%E6%AE%B5173%E8%99%9F/@25.0551711,121.6129903,17z/data=!3m1!4b1!4m2!3m1!1s0x3442ab58e42ba92b:0x9b0218ab6015e965" target="_blank"></a></address><br>
          <a class="tel" href="tel:0227836028" target="_blank">(02)2783-6028</a>
        </div>
        <div class="grid"> <b>板橋營運處</b> <br>
          <address>新北市板橋區中山路 1 段 141 號 4 樓<a class="map" href="https://www.google.com/maps/place/220%E5%8F%B0%E7%81%A3%E6%96%B0%E5%8C%97%E5%B8%82%E6%9D%BF%E6%A9%8B%E5%8D%80%E4%B8%AD%E5%B1%B1%E8%B7%AF%E4%B8%80%E6%AE%B5141%E8%99%9F/@25.011203,121.463015,17z/data=!4m13!1m7!3m6!1s0x3442a81e9cf4fed9:0x275cbbd8a2a79700!2zMjIw5Y-w54Gj5paw5YyX5biC5p2_5qmL5Y2A5Lit5bGx6Lev5LiA5q61MTQx6Jmf!3b1!8m2!3d25.011203!4d121.463015!3m4!1s0x3442a81e9cf4fed9:0x275cbbd8a2a79700!8m2!3d25.011203!4d121.463015?hl=zh-TW" target="_blank"></a></address><br>
          <a class="tel" href="tel:0229648288" target="_blank">(02)2964-8288</a>
        </div>
        <div class="grid"> <b>五股辦事處</b> <br>
          <address>新北市新莊區中平路 3 號 5 樓<a class="map" href="https://www.google.com.tw/maps/place/242%E6%96%B0%E5%8C%97%E5%B8%82%E6%96%B0%E8%8E%8A%E5%8D%80%E4%B8%AD%E5%B9%B3%E8%B7%AF3%E8%99%9F/@25.0432609,121.4446394,17z/data=!3m1!4b1!4m2!3m1!1s0x3442a7d81a0b457d:0x67cbd20302af43e6" target="_blank"></a></address><br>
          <a class="tel" href="tel:0222774059" target="_blank">(02)2277-4059</a>
        </div>
        <div class="grid"> <b>桃園營運處</b> <br>
          <address>桃園市桃園區復興路 205 號 B1<a class="map" href="https://www.google.com.tw/maps/place/330%E6%A1%83%E5%9C%92%E5%B8%82%E6%A1%83%E5%9C%92%E5%8D%80%E5%BE%A9%E8%88%88%E8%B7%AF205%E8%99%9F/@24.988733,121.308644,17z/data=!3m1!4b1!4m2!3m1!1s0x34681f1d7d4c245f:0xfd3225b8a0baf31c" target="_blank"></a></address><br>
          <a class="tel" href="tel:033398353" target="_blank">(03)339-8353</a>
        </div>
        <div class="grid"> <b>中壢辦事處</b> <br>
          <address>桃園市中壢區中美路 29 號 4 樓<a class="map" href="https://www.google.com.tw/maps/place/320%E6%A1%83%E5%9C%92%E5%B8%82%E4%B8%AD%E5%A3%A2%E5%8D%80%E4%B8%AD%E7%BE%8E%E8%B7%AF29%E8%99%9F/@24.9580991,121.2269452,17z/data=!3m1!4b1!4m2!3m1!1s0x3468223795906c4b:0x1b21f83efee2f265" target="_blank"></a></address><br>
          <a class="tel" href="tel:034264193" target="_blank">(03)426-4193</a>
        </div>

      </div>
      <div class="column">
        <div class="grid"> <b>新竹營運處</b> <br>
          <address>新竹市東區公園路 221 號 4 樓-2<a class="map" href="https://www.google.com.tw/maps/place/300%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80%E5%85%AC%E5%9C%92%E8%B7%AF221%E8%99%9F/@24.80375,120.980921,17z/data=!3m1!4b1!4m2!3m1!1s0x346835dc3bb5cd13:0x52fb541b0ec193be" target="_blank"></a></address><br>
          <a class="tel" href="tel:035611686" target="_blank">(03)561-1686</a>
        </div>
        <div class="grid"> <b>頭份辦事處</b> <br>
          <address>苗栗縣頭份鎮中華路 1192 號 10 樓<a class="map" href="https://www.google.com.tw/maps/place/351%E8%8B%97%E6%A0%97%E7%B8%A3%E9%A0%AD%E4%BB%BD%E9%8E%AE%E4%B8%AD%E8%8F%AF%E8%B7%AF1192%E8%99%9F/@24.6911271,120.913741,17z/data=!3m1!4b1!4m2!3m1!1s0x34684cbecf7ea88d:0x1d73eb9aa071b77e" target="_blank"></a></address><br>
          <a class="tel" href="tel:037696690" target="_blank">(03)769-6690</a>
        </div>
        <div class="grid"> <b>台中營運處</b> <br>
          <address>台中市南屯區惠文路 261 號 4 樓<a class="map" href="https://www.google.com.tw/maps/place/408%E5%8F%B0%E4%B8%AD%E5%B8%82%E5%8D%97%E5%B1%AF%E5%8D%80%E6%83%A0%E6%96%87%E8%B7%AF261%E8%99%9F/@24.142078,120.6425413,17z/data=!3m1!4b1!4m2!3m1!1s0x34693dc7824d5a83:0xbe914327178f1fd3" target="_blank"></a></address><br>
          <a class="tel" href="tel:0423800009" target="_blank">(04)2380-0009</a>
        </div>
        <div class="grid"> <b>彰化辦事處</b> <br>
          <address>彰化市中山路二段 326 號 4 樓<a class="map" href="https://www.google.com.tw/maps/place/500%E5%BD%B0%E5%8C%96%E7%B8%A3%E5%BD%B0%E5%8C%96%E5%B8%82%E4%B8%AD%E5%B1%B1%E8%B7%AF%E4%BA%8C%E6%AE%B5326%E8%99%9F/@24.072742,120.543381,17z/data=!3m1!4b1!4m2!3m1!1s0x3469388ef3df6289:0xf9bfaf97b6c02860" target="_blank"></a></address><br>
          <a class="tel" href="tel:047276881" target="_blank">(04)727-6881</a>
        </div>
        <div class="grid"> <b>南投辦事處</b> <br>
          <address>南投縣草屯鎮太平路一段 39 號<a class="map" href="https://www.google.com.tw/maps/place/542%E5%8D%97%E6%8A%95%E7%B8%A3%E8%8D%89%E5%B1%AF%E9%8E%AE%E5%A4%AA%E5%B9%B3%E8%B7%AF%E4%B8%80%E6%AE%B539%E8%99%9F/@23.9565564,120.6808602,17z/data=!3m1!4b1!4m2!3m1!1s0x3469304ef08272b3:0xbac59388b42f9fb4" target="_blank"></a></address><br>
          <a class="tel" href="tel:0492316467" target="_blank">(049)231-6467</a>
        </div>
        <div class="grid"> <b>嘉義營運處</b> <br>
          <address>嘉義市玉山路 261 號 4 樓<a class="map" href="https://www.google.com.tw/maps/place/%E8%AA%BC%E5%85%89%E4%BF%9D%E5%85%A8%E8%82%A1%E4%BB%BD%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8/@23.4715489,120.4248092,17z/data=!3m1!4b1!4m2!3m1!1s0x346e96984ac4c327:0xe22f8c6cdd8c6ce6" target="_blank"></a></address><br>
          <a class="tel" href="tel:052842826" target="_blank">(05)284-2826</a>
        </div>
        <div class="grid"> <b>台南營運處</b> <br>
          <address>台南市民生路二段 307 號 3 樓 A 室<a class="map" href="https://www.google.com.tw/maps/place/700%E5%8F%B0%E5%8D%97%E5%B8%82%E4%B8%AD%E8%A5%BF%E5%8D%80%E6%B0%91%E7%94%9F%E8%B7%AF%E4%BA%8C%E6%AE%B5307%E8%99%9F/@22.9966265,120.1909306,17z/data=!3m1!4b1!4m2!3m1!1s0x346e766f03499ad9:0x30ee75d08b6665cd" target="_blank"></a></address><br>
          <a class="tel" href="tel:062295277" target="_blank">(06)229-5277</a>
        </div>
        <div class="grid"> <b>麻豆辦事處</b> <br>
          <address>台南縣麻豆鎮興國路 58 號 2 樓<a class="map" href="https://www.google.com.tw/maps/place/721%E5%8F%B0%E5%8D%97%E5%B8%82%E9%BA%BB%E8%B1%86%E5%8D%80%E8%88%88%E5%9C%8B%E8%B7%AF58%E8%99%9F/@23.176068,120.246537,17z/data=!3m1!4b1!4m2!3m1!1s0x346e7e8343cd9cdb:0x9963b211be7b513c" target="_blank"></a></address><br>
          <a class="tel" href="tel:065712729" target="_blank">(06)571-2729</a>
        </div>
      </div>
      <div class="column">        
        <div class="grid"> <b>高雄營運處</b> <br>
          <address>高雄市新興區七賢一路 251 號 11 樓<a class="map" href="https://www.google.com.tw/maps/place/800%E9%AB%98%E9%9B%84%E5%B8%82%E6%96%B0%E8%88%88%E5%8D%80%E4%B8%83%E8%B3%A2%E4%B8%80%E8%B7%AF251%E8%99%9F/@22.6339839,120.3093609,17z/data=!3m1!4b1!4m2!3m1!1s0x346e04929b847d6d:0x3984299068907a74" target="_blank"></a></address><br>
          <a class="tel" href="tel:072351670" target="_blank">(07)235-1670</a>
        </div>
        <div class="grid"> <b>屏東辦事處</b> <br>
          <address>屏東市中正路 123 號 4 樓<a class="map" href="https://www.google.com.tw/maps/place/900%E5%B1%8F%E6%9D%B1%E7%B8%A3%E5%B1%8F%E6%9D%B1%E5%B8%82%E4%B8%AD%E6%AD%A3%E8%B7%AF123%E8%99%9F/@22.6746635,120.4895278,17z/data=!3m1!4b1!4m2!3m1!1s0x346e179b16301771:0x17ea5017cacab3ce" target="_blank"></a></address><br>
          <a class="tel" href="tel:087332574" target="_blank">(08)733-2574</a>
        </div>
        <div class="grid"> <b>宜蘭營運處</b> <br>
          <address>宜蘭市宜興路二段 70 號 1 樓<a class="map" href="https://www.google.com.tw/maps/place/260%E5%AE%9C%E8%98%AD%E7%B8%A3%E5%AE%9C%E8%98%AD%E5%B8%82%E5%AE%9C%E8%88%88%E8%B7%AF%E4%BA%8C%E6%AE%B570%E8%99%9F/@24.7598771,121.7596539,17z/data=!3m1!4b1!4m2!3m1!1s0x3467e4d733465dcf:0x7c94c4bfe17f28e" target="_blank"></a></address><br>
          <a class="tel" href="tel:039329782" target="_blank">(03)9329-782</a>
        </div>
        <div class="grid"> <b>花蓮營運處</b> <br>
          <address>花蓮市國聯一路 37 號 4 樓<a class="map" href="https://www.google.com.tw/maps/place/970%E8%8A%B1%E8%93%AE%E7%B8%A3%E8%8A%B1%E8%93%AE%E5%B8%82%E5%9C%8B%E8%81%AF%E4%B8%80%E8%B7%AF37%E8%99%9F/@23.9933799,121.6038794,17z/data=!3m1!4b1!4m2!3m1!1s0x34689fb5c2d0a23b:0xa8949f1ca29835d2" target="_blank"></a></address><br>
          <a class="tel" href="tel:038335778" target="_blank">(03)8335-778</a>
        </div>
        <div class="grid"> <b>台東營運處</b> <br>
          <address>台東市更生路 337 號 4 樓<a class="map" href="https://www.google.com.tw/maps/place/950%E5%8F%B0%E6%9D%B1%E7%B8%A3%E5%8F%B0%E6%9D%B1%E5%B8%82%E6%9B%B4%E7%94%9F%E8%B7%AF337%E8%99%9F/@22.7618072,121.1430252,17z/data=!3m1!4b1!4m2!3m1!1s0x346fb96b831f83d9:0xd35b68aaeb39f42" target="_blank"></a></address><br>
          <a class="tel" href="tel:089355990" target="_blank">(08)9355-990</a>
        </div>
        <div class="grid"> <b>管制中心</b> <br>
          <address>台北市建國北路一段 126 號 5 樓<a class="map" href="https://www.google.com.tw/maps/place/104%E5%8F%B0%E5%8C%97%E5%B8%82%E4%B8%AD%E5%B1%B1%E5%8D%80%E5%BB%BA%E5%9C%8B%E5%8C%97%E8%B7%AF%E4%B8%80%E6%AE%B5126%E8%99%9F/@25.05086,121.5338753,17z/data=!3m1!4b1!4m2!3m1!1s0x3442a961c599d7f3:0x79c1410f27691606" target="_blank"></a></address><br>
          <a class="tel" href="tel:0225073286" target="_blank">(02)2507-3286</a>
        </div>

      </div>
    </div>
  </section>
</article>

<div id="subMenu" class="visible-xs-block">
  <%= render :partial => 'layouts/intro_menu' %>
</div>