<%= render :partial => 'layouts/intro_menu' %>

<article _height="auto" id="office">
  <section class="content">
    <nav><a href="<%= root_url %>">首頁</a><span>></span><a>服務據點</a></nav>
    <div class="inner">
      <div class="grid"> <b>總  公  司</b> <br>
        台北市南港區三重路19-6號1樓<br>
        (02)2655-0000 </div>
      <div class="grid"> <b>新竹分公司</b> <br>
        新竹市公園路221號4樓-2<br>
        (03)561-1686</div>
      <div class="grid"> <b>麻豆辦事處</b> <br>
        台南縣麻豆鎮興國路58號2樓<br>
        (06)571-2729</div>
      <div class="grid"> <b>台北分公司</b> <br>
        台北市建國北路1段126號5樓<br>
        (02)2517-8791</div>
      <div class="grid"> <b>頭份辦事處</b> <br>
        苗栗縣頭份鎮中華路1192號10樓<br>
        (03)769-6690</div>
      <div class="grid"> <b>高雄分公司</b> <br>
        高雄市新興區七賢一路251號11樓<br>
        (07)235-1670</div>
      <div class="grid"> <b>南汐辦事處</b> <br>
        台北市南港區南港路1段173號5樓<br>
        (02)2783-6028 </div>
      <div class="grid"> <b>台中分公司</b> <br>
        台中市惠文路261號4樓<br>
        (04)2380-0009</div>
      <div class="grid"> <b>屏東辦事處</b> <br>
        屏東市中正路123號4樓<br>
        (08)733-2574</div>
      <div class="grid"> <b>板橋分公司</b> <br>
        新北市板橋區中山路1段104號2樓<br>
        (02)2961-4594</div>
      <div class="grid"> <b>彰化辦事處</b> <br>
        彰化市中山路2段326號4樓<br>
        (04)727-6881</div>
      <div class="grid"> <b>宜蘭分公司</b> <br>
        宜蘭市宜興路2段70號1樓<br>
        (03)9329-782</div>
      <div class="grid"> <b>五股辦事處</b> <br>
        新北市新莊區中平路3號5樓 <br>
        (02)2277-4059</div>
      <div class="grid"> <b>南投辦事處</b> <br>
        南投縣草屯鎮太平路一段39號br>
        (049)231-6467</div>
      <div class="grid"> <b>花蓮分公司 </b> <br>
        花蓮市國聯一路37號4樓<br>
        (03)8335-778</div>
      <div class="grid"> <b>桃園分公司</b> <br>
        桃園市復興路 205 號 B1<br>
        (03)339-8353 </div>
      <div class="grid"> <b>嘉義分公司</b> <br>
        嘉義市玉山路261號4樓<br>
        (05)284-2826</div>
      <div class="grid"> <b>台東分公司</b> <br>
        台東市更生路337號4樓<br>
        (08)9355-990</div>
      <div class="grid"> <b>中壢辦事處</b> <br>
        桃園縣中壢市中美路29號4樓<br>
        (03)426-4193</div>
      <div class="grid"> <b>台南分公司</b> <br>
        台南市民生路二段307號3樓A室<br>
        (06)229-5277</div>
    </div>
  </section>
</article>