<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<meta charset="utf-8">
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<title>誼光保全</title>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/inside.css">
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/auto-full-height.min.js"></script>
<style>
#banner .content{background:url(images/sv-banner.jpg) right 0 no-repeat}
</style>
</head>

<body>
<header _height="none">
  <section class="content">
    <h1></h1>
    <nav><a href="#">最新消息</a><a href="#">公司簡介</a><a href="#">服務項目</a><a href="#">聯絡誼光</a><a href="#">保全百科</a><a href="#">客戶表列</a><a href="#">事業體表列</a><a href="#">回首頁</a></nav>   
  </section>
</header>
<div id="banner" _height="none">
	<section class="content">
      <nav><a class="active"><img src="images/sv-nav.png"></a></nav>
    </section>
</div>
<article _height="auto" id="service">
  <section class="content">
    <nav><a href="index.html">首頁</a><span>></span><a>服務項目</a></nav>
    <div class="inner">
      <a href="#" class="grid"><img src="avator.jpg"><h4>安全警衛</h4></a>
      <a href="#" class="grid"><img src="avator.jpg"><h4>安全警衛</h4></a>
      <a href="#" class="grid"><img src="avator.jpg"><h4>安全警衛</h4></a>
      <a href="#" class="grid"><img src="avator.jpg"><h4>安全警衛</h4></a>
      <a href="#" class="grid"><img src="avator.jpg"><h4>安全警衛</h4></a>
      <a href="#" class="grid"><img src="avator.jpg"><h4>安全警衛</h4></a>
      <a href="#" class="grid"><img src="avator.jpg"><h4>安全警衛</h4></a>
      <a href="#" class="grid"><img src="avator.jpg"><h4>安全警衛</h4></a>
      <a href="#" class="grid"><img src="avator.jpg"><h4>安全警衛</h4></a>
      <a href="#" class="grid"><img src="avator.jpg"><h4>安全警衛</h4></a>
    </div>
    <div class="inner">
      <a href="#" class="grid"><img src="images/sv-01.jpg"><h4>叭叭房</h4></a>
      <a href="#" class="grid"><img src="images/sv-02.jpg"><h4>誼光迷你倉</h4></a>
      <a href="#" class="grid"><img src="images/sv-03.jpg"><h4>誼光家事</h4></a>
    </div>
  </section>
</article>
<footer _height="none">
  <section class="content"> <img src="images/logo.png" width="158" height="40">
    <p>誼光保全股份有限公司 ‧ 誼光國際公寓大廈管理股份有限公司<br>
      版權所有 © 2014 YKS. All Rights Reserved. </p>
  </section>
</footer>
</body>
</html>
