/*-----------------------------------------------------------------------å…¨åŸŸ---*/

html{background:url(../images/bg.gif) 0 0 repeat-y #F9F9F9}
body{ font:300 15px "微軟正黑體";width:100%;-webkit-text-size-adjust: none;color:#555;word-break:break-all;}
a{font:300 1em "微軟正黑體";text-decoration:none;color:#555;-webkit-transition:all ease .2s;-moz-transition:all ease .2s}

/*-----------------------------------------------------------------------é é¦–---*/

header{background:#324b99;border-bottom:1px solid #1f337e;height:50px;min-width:1015px}

#top{padding:0 15px 0 15px;overflow:hidden;height:49px;}
#top a{color:#fff}

#nav-ctrl,#aside-ctrl{display:none}
aside{float:right}
#aside-box{overflow:hidden;border-left:1px solid #1f337e;border-right:1px solid #435ec3}
#aside-box a{display:inline-block;height:49px;float:left;padding:15px 20px 0 20px;
border-right:1px solid #1f337e;border-left:1px solid #435ec3;font-size:.85em}
#aside-box a img{margin:0 10px 0 0;position:relative;top:3px}
#aside-box a:hover{background:#1f337e}

h1{float:left;margin:0 0 0 35px;padding:15px 0 0 0}


/*-----------------------------------------------------------------------å…§å®¹---*/

#main{overflow:hidden;min-width:1015px}
article{padding:30px 0 30px 30px;width:62%;min-width:800px;font:300 14px courier,"微軟正黑體",Microsoft JhengHei;position:relative;overflow:hidden}
article section{margin:0 0 30px 0}

/*-----------------------------------------------------------------------å´æ¬„---*/

nav{background:#303338;width:185px;float:left;min-height:100%}
nav ul{border-top:1px solid #1E2023;padding:10px 0 0 0;background:#25272A}
nav ul:nth-child(3){border-bottom:1px solid #42454C;}
nav li{border-top:1px solid #42454C;border-bottom:1px solid #1E2023;background-color:#303338;
-webkit-transition:all .3s ease;-moz-transition:all .3s ease;position:relative}

nav li > a{display:block;color:#ccc;text-shadow:0 -1px 0 #0E0F10;height:50px;background:#303338;font-size:.9em;
border-left:1px solid #1E2023;width:175px;margin:0 0 0 10px;padding:14px 0 0 35px}
nav li:hover > a{color:#fff}
nav a img{margin:0 15px 0 0;position:relative;top:2px}

/*å­é¸å–®*/
.menu-box:hover .menu{display:block}
.menu-box > a{background:url(../images/sub-title.png) 163px 39px no-repeat #303338;}
.menu{display:none;position:absolute;top:-1px;left:185px;width:100%;z-index:5}
.menu a{display:block;text-align:center;height:52px;padding:16px 0 0 0;background:#303338;font-size:.9em;
border-top:1px solid #42454C;border-bottom:1px solid #1E2023;color:#ccc;text-shadow:0 -1px 0 #0E0F10}
.menu a:hover{background:#25272A;color:#fff}

nav li:hover{background:#ccc}
.menu{border-left:3px solid #ccc}

/*-----------------------------------------------------------------------å¤§æ¨™---*/

.hgroup{overflow:hidden}
.hgroup h2{margin:0 10px 0 0;font:italic 300 24px "微軟正黑體";float:left}
.hgroup p{float:left;color:#a9a9a9;margin:11px 0 0 0}

/*-----------------------------------------------------------------------æ¨™é¡Œ---*/

.title{width:100%;border:1px solid #ccc;border-radius:5px}
.title th{background:url(../images/list.jpg) 0 0 repeat-x #DEDEDE;color:#999;text-shadow:0 1px 0 #fff;font:300 13px "verdana";width:100px;border-right:1px solid #ccc}
.title td{padding:8px 10px 5px 10px;border-left:1px solid #fff;color:#555;position:relative}
.title td input{border:0;width:100%;font:300 13px "微軟正黑體";color:#555}
.title th input{width:80%;border-radius:5px;border:1px solid #ccc!important;padding:5px;color:#555}

.title .counter{background:url(../images/list.jpg) 0 0 repeat-x #DEDEDE;border:1px solid #ccc;display:block;padding:3px 5px 0 5px;height:21px;text-align:center;border-radius:5px;color:#555;text-shadow:0 1px 0 #fff;font:300 11px "verdana";position:absolute;top:4px;right:3px}

/*-----------------------------------------------------------------------åˆ†é¡ž---*/

.category ul{overflow:hidden;border:1px solid #ccc;
border-radius:5px;width:202px;margin:0 auto}
.category li {background:url(../images/list.jpg) 0 0 repeat-x;width:100px;text-align:center;float:left;;border-right:1px solid #ccc;border-left:1px solid #fff;}
.category li:first-child{border-left:none}
.category li:last-child{border-right:none}
.category a{color:#999;text-shadow:0 1px 0 #fff;display:block;padding:10px 0 0 0;height:33px}
.category .active{background:url(../images/active.jpg) 0 0 repeat-x}
.category .active a,.category a:hover{color:#555}

/*-----------------------------------------------------------------------åˆ—è¡¨---*/

.list{border:1px solid #ccc;border-radius:5px;background:#fff}
.list th{background:url(../images/list.jpg) 0 0 repeat-x #DEDEDE;color:#999;text-shadow:0 1px 0 #fff;font:300 13px verdana;height:40px;padding:0 0 0 10px}
.list td{height:40px;border-top:1px solid #D1D1DB;color:#999;padding:5px 0;font:300 13px "verdana";padding:0 0 0 10px}
.list tr:nth-child(2n) {background:#F9F9F9}
.list a:hover{text-decoration:underline}

.list .x2{width:12%}
.list .x1{width:6%}

/*-----------------------------------------------------------------------æŒ‰éˆ•---*/

.button{overflow:hidden}
.button a{display:block;width:100px;height:35px;padding:5px 0 0 0;background:url(../images/list.jpg) 0 0 repeat-x;border:1px solid #ccc;border-radius:5px;float:right;margin:0 0 0 10px;color:#333;text-shadow:0 1px 0 #fff;font-weight:900;text-align:center}
.button a:active{background:url(../images/active.jpg) 0 0 repeat-x}
.button img{position:relative;top:4px;margin:0 8px 0 0}

/*-----------------------------------------------------------------------é ç±¤---*/

.tab{margin:0!important;position:relative;top:1px}
.tab ul{overflow:hidden;border:1px solid #ccc;border-bottom:none;border-radius:5px 5px 0 0}
.tab ul.x1{width:101px}
.tab ul.x2{width:202px}
.tab ul.x3{width:402px}
.tab ul.x4{width:402px}

.tab li {background:url(../images/list.jpg) 0 0 repeat-x;width:100px;text-align:center;float:left;border-right:1px solid #ccc;border-left:1px solid #fff}
.tab li:first-child{border-left:none}
.tab li:last-child{border-right:none}
.tab a{color:#999;text-shadow:0 1px 0 #fff;display:block;padding:5px 0 0 0;height:33px}
.tab .active{background:url(../images/active.jpg) 0 0 repeat-x}
.tab .active a,.category a:hover{color:#555}
.tab img{position:relative;top:4px;margin:0 7px 0 0}

.tab ul.x4 li{width:75px}

/*-----------------------------------------------------------------------ç™¼æ–‡---*/

.post{border:1px solid #ccc;background:#FBFBFB;padding:15px;border-radius:0 5px 5px 5px}
.post textarea,.post input{width:100%;border-radius:5px;border:1px solid #ccc;padding:5px;font:300 13px "微軟正黑體";color:#555}
.post textarea{min-height:100px}

.addlink{text-shadow:0 1px 0 #fff}
.addlink img{position:relative;top:4px;margin:0 5px 0 0}

.addlist{margin:3px 0 0 0}
.addlist a{display:block;border:1px solid #ccc;background:#fff;font:300 11px "verdana";padding:5px 0;width:50px;text-align:center;border-radius:5px}
.addlist a:hover{background:#eee}

.post td{padding:5px 0}
.post select{padding:5px;border-radius:5px;border:1px solid #ccc;min-width:150px;max-width:100%}

/*-----------------------------------------------------------------------é è¦½---*/

.preview .part{border:1px solid #ccc;padding:15px;margin:0 0 1px 0;position:relative;cursor:pointer;background:#fefefe}
.preview .part:active{border:1px dashed #ccc!important;background:#fff}
.preview .part:hover{border:1px solid #aaa}
.preview .part:hover .tool-b{display:inline}
.preview .part:first-child{border-radius:5px 5px 0 0}
.preview .part:last-child{border-radius:0 0 5px 5px}
.preview .part img{max-width:100%;height:auto}

.preview .space{height:50px;background:#fff;border:1px dashed #ccc}
.preview textarea{width:100%;border-radius:5px;border:1px solid #ccc;padding:5px;min-height:100px;font:300 13px "微軟正黑體";color:#555;} 

.tool-b{overflow:hidden;position:absolute;top:10px;right:10px;display:none}
.tool-b a{float:left;margin:0 0 0 5px}
.tool-a{overflow:hidden}
.tool-a a{float:left;margin:0 5px 0 0}
.tool-b a,.tool-a a{display:block;border:1px solid #ccc;background:#fff;font:300 11px "verdana";padding:5px 0;width:50px;text-align:center;border-radius:5px;}
.tool-b a:hover,.tool-a a:hover{background:#eee}

.preview span{margin:0 0 0 10px;color:#bbb}

/*-----------------------------------------------------------------------é ç¢¼---*/

.page{text-align:center;width:100%}
.page ul{}
.page li{display:inline;}
.page a{display:inline-block;width:20px;height:20px;margin:0 2.5px;border-radius:5px;padding:1px 0 0 0;font:300 12px "verdana";text-shadow:0 1px 0 #fff}
.page a:hover{border:1px solid #ccc}
.page .active a{background:url(../images/list.jpg) 0 0 repeat-x;border:1px solid #ccc}

/*-----------------------------------------------------------------------æ¬„ä½---*/

.text{border:1px solid #ccc;background:#f9f9f9;border-radius:5px;overflow:hidden;padding:10px}
/*.text div{float:left;padding:5px;line-height:1.5em}*/
.text th{font-weight:900;width:80px;}
.text td{text-align:left;padding:5px 0}

.text .one{width:100%;clear:both}

.text-edit input,.text-edit textarea{width:100%;border-radius:5px;border:1px solid #ccc!important;padding:5px;font:300 13px "微軟正黑體";background:#fff;color:#555}
.text-edit textarea{min-height:100px}
.text-edit th{padding:7px 0 0 0}
.text-edit .radio{width:30px;border:none;padding:0;position:relative;top:3px}
.text-edit #checkbox{width:30px;position:relative;top:4px}
.text-edit select{padding:5px 15px;border:1px solid #ccc;border-radius:5px;margin:0 5px 5px 0}

.text-show{background:#fff;padding:5px 10px}
.text-show .part{margin:10px;line-height:1.7em;float:none;padding:5px 0}
.text-show img{max-width:100%;height:auto}

.text .quarter{width:25%}
.text .three{width:33%}
.text .half{width:50%}

/*-----------------------------------------------------------------------é å°¾---*/

footer{display:none;font:300 13px "Times New Roman", Times, serif;text-shadow:0 1px 0 #fff;position:relative;z-index:2}
footer a{font:300 13px "Times New Roman", Times, serif;text-shadow:0 1px 0 #fff}

/*-----------------------------------------------------------------------ç™»å…¥---*/

.title-30n{font:300 30px 微軟正黑體;color:#0068b7;line-height:1.9em;}
.title-20b{font:900 18px 微軟正黑體;color:#000;line-height:1.9em;}
.title-18n{font:900 20px 微軟正黑體;color:#0068b7;line-height:1.9em;}
.text-18r{font:300 16px 微軟正黑體;color:#ff0000;line-height:1.9em;}
.text-18y{font:300 16px 微軟正黑體;color:#000;background:#fff79a;line-height:1.9em;display:inline;}
.text-18b{font:300 16px 微軟正黑體;color:#000;line-height:1.9em;}
