
/*-----------------------------------------------------------------------全域---*/

html{width: 100%;height: 100%;overflow-x: hidden;}
body.pace-running{ }
body{background:#333;width: 100%;height: 100%;}
#waiting{width: 100%;height: 100%;background:url(/images/ajax-loader.gif) center center no-repeat rgba(0, 0, 0, 0.6);position: absolute;z-index: 1000;}
#wrapper{font:400 15px/1.7em 微軟正黑體,Microsoft JhengHei;width: 100%;max-width:1280px;min-width:900px;margin:0 auto;
background:#fff;position:relative}
a,a:hover,a:focus{font:400 15px/1.7em 微軟正黑體,Microsoft JhengHei;text-decoration:none;
-webkit-transition:all ease .3s;-moz-transition:all ease .3s;outline:none;}
.content{max-width:1024px;margin:0 auto;padding:0 47px}
#wrapper img{max-width:100%;}

/*-----------------------------------------------------------------------頁首---*/

header{position:relative;background:url(/images/id-04.jpg) center 0 no-repeat;padding:35px 0 0 0;height:194px}

hgroup{position:relative;margin:0 auto;max-width:1024px;}

nav{background:url(/images/id-01.jpg) 0 0 repeat-x;height:59px;border:1px solid #B9C3CF;border-radius:10px;text-align:right}
nav ul{overflow: hidden;display: inline-block;}
nav ul li{float: left;height: 57px;}
nav ul li a{display:block;padding:20px 15px 0 15px;height:100%;border-right:1px solid #EBEBEB;color:#222;font:900 14px 微軟正黑體,Microsoft JhengHei;text-shadow:0 1px 0 #fff;background:url(/images/id-01.jpg) 0 0 repeat-x;}
nav ul li a:hover{background:url(/images/id-01h.jpg) 0 0 repeat-x;font:900 14px 微軟正黑體,Microsoft JhengHei;color:#000;}
nav ul li:last-child a{border-radius:0 10px 10px 0}

h1{position:absolute;top:10px;left:45px;z-index:5;}

/*-----------------------------------------------------------------------側欄---*/

aside{border-radius:6px;background:url(/images/id-03.png) 0 0/contain repeat-x;width:150px;padding:65px 5px 0 5px;
display: none;position: absolute;z-index:4}
aside a{display:block;width:100%;border-bottom:1px solid #0D0D0D;border-top:1px solid #45484C;
color:#fff;text-align:center;font:400 14px/1.7em 微軟正黑體,Microsoft JhengHei;padding:4px 0}
aside a:hover,aside a:focus{background:#45484C;color:#fff;t}
aside a span{color:#ffd200;font-size:9px;padding:0 5px 0 0}
aside #top{display:block;background:url(/images/id-03-top.png) 0 0 no-repeat;width:46px;height:42px;position:absolute;top:12px;left:50%;margin-left:-23px;border:0;}

/*-----------------------------------------------------------------------計數器---*/

#sitemeter{position:absolute;left:16%;top:110px;color:#e91a22;font-size: 1.4em;font-weight: 700;}

@media (max-width: 1120px){
	#sitemeter{left:10%}
}
/*-----------------------------------------------------------------------頁身---*/

.stage{position:relative;}
.level{position:absolute}
.level-1{z-index:1}
.level-2{z-index:2}
.level-3{z-index:3}

/*-----------------------------------------------------------------------舞台1---*/

#stage-1{padding-top:40%}

/*城市*/
#stage-1 .level-1{top:0px;left:0px;max-width: 100%;}

/*標題*/
#stage-1 .title{top:-20px;left:45%}

/*電話*/
#stage-1 .phone{bottom:20%;left:45%;background:url(/images/id-08.png) 0 0 no-repeat;width:457px;height:95px;
padding:25px 0 0 270px}
#stage-1 .phone .tel{cursor:default;}
#stage-1 .phone a{text-indent:-9999px;display:block;background:url(/images/id-09.png) 0 0 no-repeat;width:169px;height:58px;}
#stage-1 .phone a:hover{background:url(/images/id-09h.png) 0 0 no-repeat}

/*人物*/
#stage-1 .level-3{top:0px;left:10%}
#stage-1 .level-3 img{max-width: none;}

@media (max-width: 1280px){
	#stage-1 .level-3{left:5%}
}
@media (max-width: 1120px){
	#stage-1 .level-3{left:auto;right:60%}
}
/*-----------------------------------------------------------------------舞台2---*/

#stage-2{height:680px;overflow:hidden}
#stage-2 h3{clear:both;white-space:nowrap;font:900 36px/1.7em 微軟正黑體,Microsoft JhengHei;margin:30px 0 0 0}

/*文字*/
#stage-2 .text{right:0;padding: 60px 0 0 40px;}
#stage-2 .text p{max-width:580px;}
#stage-2 .col-sm-7{padding:0;min-width: 390px;}
#stage-2 .col-sm-4{padding: 50px 0 0 40px;}
#stage-2 .col-sm-4#award-2{padding-top: 0px;}
/*人物*/
#stage-2 .level-3{top:500px;left:0px;padding:0;}
#stage-2 .level-3 img{max-width: none;}

@media (max-width: 1199px){
	#stage-2{padding-top: 40px;}
	#stage-2 .text{padding: 40px 0 0 40px;}
	#stage-2 .text h3{font-size:30px;}
	#stage-2 .level-3{right:65%;left:auto;}
	#stage-2 .col-sm-4{padding: 50px 0 0 20px;width:30%;}
}
/*-----------------------------------------------------------------------最新消息---*/

#news{background:#F0F2F2;overflow:hidden;height:355px;padding:10px 0 0 0}
#news .content{max-width:800px;width:100%;margin:0 auto}
#news h3{font:400 42px/1.7em 微軟正黑體,Microsoft JhengHei;color:#c0c2c2}
#news span{color:#747474}
#news h4 a{font:400 22px/1.7em 微軟正黑體,Microsoft JhengHei;}
#news a{color:#005191}
#news a:hover{color:#2A85CD}

#news .bx-wrapper .bx-pager {margin:0 0 0 0px;}
#news .col-sm-5{padding:0;overflow: hidden;max-height:220px;}
/*-----------------------------------------------------------------------舞台3---*/

#stage-3{margin:0 auto;border-bottom:1px solid #9D9D9D;overflow:hidden;height:555px;text-align:center;padding:75px 0 0 0}
#stage-3 h3{font:900 48px/1.7em 微軟正黑體,Microsoft JhengHei;}
#stage-3 p{font:400 22px/1.7em 微軟正黑體,Microsoft JhengHei;}

#stage-3 .row{margin:0 auto;position:relative;max-width:900px;}
#stage-3 .item{position:absolute;width:130px;top:250px}
#stage-3 .item h4{width:115px;height:115px;font:900 31px 微軟正黑體,Microsoft JhengHei;color:#fff;
border-radius:50%;padding:40px 0 0 0;margin:0 0 10px 0}

#stage-3 #item-1 h4{background:url(../images/id-icon01.png) center center no-repeat;background-size: cover;}
#stage-3 #item-2 h4{background:url(../images/id-icon02.png) center center no-repeat;background-size: cover;}
#stage-3 #item-3 h4{background:url(../images/id-icon03.png) center center no-repeat;background-size: cover;}
#stage-3 #item-4 h4{background:url(../images/id-icon04.png) center center no-repeat;background-size: cover;}
#stage-3 #item-5 h4{background:url(../images/id-icon05.png) center center no-repeat;background-size: cover;}

#stage-3 #item-1{left:3%; top: 300px;}
#stage-3 #item-2{left:23%; top: 300px;}
#stage-3 #item-3{left:43%; top: 300px;}
#stage-3 #item-4{left:63%; top: 300px;}
#stage-3 #item-5{left:83%; top: 300px;}

#anchor-1{position:absolute;top:0;left:-128px}

/*-----------------------------------------------------------------------舞台4---*/

#stage-4{height:730px; overflow: hidden;}
#stage-4 .text{width:645px;right:190px;top:20px;}
#stage-4 .text h3{font:900 48px/1.7em 微軟正黑體,Microsoft JhengHei;}
#stage-4 .text p{font:400 22px/1.7em 微軟正黑體,Microsoft JhengHei;}
#stage-4 .text h4{padding-left:40px;font:400 26px/1.7em 微軟正黑體,Microsoft JhengHei;color:#107db9;margin:20px 0 0 0}
#stage-4 .text p.smallText{padding-left:40px;font:400 15px/1.7em 微軟正黑體,Microsoft JhengHei;}

/*維修*/
#stage-4 .level-1{top:500px;width:100%;}
/*團隊*/
#stage-4 .level-3{top:500px;right:200px}
/*城市*/
#stage-4 .level-2{top:498px;right:0px}


@media (max-width: 1240px){
	#stage-4 .level-1{left:-12%;}
	#stage-4 .level-1 img{max-width: none;}
}
@media (max-width: 1120px){
	#stage-4 .title{right:5%;}
	#stage-4 .text{right:8%}
	#stage-4 .level-1{left:-20%;}
	#stage-4 .level-3{right:40px}
	#stage-4 .level-2{right:-10%}
}
/*-----------------------------------------------------------------------榮譽榜---*/

#honor{background:#FFD802;overflow:hidden;height:355px;padding:10px 0 0 0}
#honor .content{max-width:800px;margin:0 auto}
#honor h3{font:400 42px/1.7em 微軟正黑體,Microsoft JhengHei;color:#fff}
#honor h4 a{font:900 22px/1.7em 微軟正黑體,Microsoft JhengHei;color:#000}
#honor h4 a:hover{color:#555}

#honor .bx-wrapper .bx-pager {margin:0 0 0 0px}
#honor .col-sm-3{width:25%;padding:0;}
#honor .col-sm-3 img{width:175px;height:175px;border:5px solid #fff;}
#honor .col-sm-9{width:75%;}

/*-----------------------------------------------------------------------服務項目---*/

#service{height:130px;background:#636767;position:relative;padding:20px 0 0 170px}
#service img{position:absolute;bottom:-45px;left:225px;z-index:3}
#service h2{font:900 56px/1.7em 微軟正黑體,Microsoft JhengHei;color:#fff}

/*-----------------------------------------------------------------------舞台5---*/

#stage-5{height:916px;background:url(/images/id-17.jpg) center 0 no-repeat;}

#stage-5 h3,
#stage-6 h3,
#stage-7 h3,
#stage-8 h3{font:900 62px/1em 微軟正黑體,Microsoft JhengHei;color:#0f7bb7}
#stage-5 span,
#stage-6 span,
#stage-7 span,
#stage-8 span{font:900 24px/1.9em 微軟正黑體,Microsoft JhengHei;}

#stage-5 .level-2{width:465px;left:13.5%;top:0px}
#stage-5 .level-3{top:600px;left:60%;}
#stage-5 .level-3 img{max-width: none;}
/*-----------------------------------------------------------------------舞台6---*/

#stage-6{height:805px;background:url(/images/id-19.jpg) center 0 no-repeat;overflow:hidden}
#stage-6 .level-2{width:465px;left:45%;top:-160px;}
#stage-6 .level-3{top:550px;left:15%;}

/*-----------------------------------------------------------------------舞台7---*/

#stage-7{height:804px;background:url(/images/id-21.jpg) center 0 no-repeat;overflow:hidden}
#stage-7 .level-1{top:-160px;left:13.5%;}
#stage-7 .level-2{top:600px;right:7%;}
#stage-7 .level-3{bottom:0;left:0;}
#stage-7 .level-3 img{max-width: none;}
@media (max-width: 1045px){
	#stage-7 .level-2{padding-top: 40px;}
}
/*-----------------------------------------------------------------------舞台8---*/

#stage-8{height:729px;background:url(/images/id-23.jpg) 0 0 no-repeat;overflow:hidden}
#stage-8 .level-2{top:560px;left:13.5%;}
#stage-8 .level-3{top:600px;right:0;}
@media (max-width: 1280px){
	#stage-8 .level-3{padding-top: 7%;}
}
@media (max-width: 1045px){
	#stage-8 .level-3{padding-top: 160px;}
}
/*-----------------------------------------------------------------------舞台9---*/

#stage-9{overflow:hidden;height:405px;padding:75px 0 0 0}
#stage-9 h3{font:900 48px/1.7em 微軟正黑體,Microsoft JhengHei;padding:0 0 0 13%}

#stage-9 .item{position:absolute;width:215px;top:195px}
#stage-9 #item-1{left:290px; top:-195px;}
#stage-9 #item-2{left:560px; top:-195px;}
#stage-9 #item-3{left:830px; top:-195px;}
#stage-9 .item a{font-size:14px;color:#2c4b9c}
#stage-9 .item a:hover{color:#5C7FD9}

#anchor-2{position:absolute;top:0;left:-128px}
@media (max-width: 1024px){
	#stage-9 h3{padding:0 0 0 5%}
	#stage-9 #item-1{left:10%;}
	#stage-9 #item-2{left:36%;}
	#stage-9 #item-3{left:62%;}
}

hr{border:none;border-bottom:1px solid #9D9D9D;max-width: 1024px;margin:0 auto;}
/*-----------------------------------------------------------------------舞台10---*/

#stage-10{height:611px;overflow: hidden;}
#stage-10 .level-3{right:-38%;top:300px;width:100%;}
#stage-10 .level-2{left:13.5%;top:70px}
#stage-10 h3{font:900 48px/1.7em 微軟正黑體,Microsoft JhengHei;}
#stage-10 ul{list-style-type:disc;padding-left: 20px; }
@media (max-width: 1024px){
	#stage-10 .level-2{left:5%;}
}
/*-----------------------------------------------------------------------舞台11---*/

#stage-11{height:555px;overflow:hidden}
#stage-11 .level-3{left:50%;top:120px}
#stage-11 .level-2{left:13.5%;top:300px;width:380px;}
#stage-11 .level-1{left:13.5%;top:70px}
#stage-11 h3{font:900 48px/1.7em 微軟正黑體,Microsoft JhengHei;}
@media (max-width: 1024px){
	#stage-11 .level-2{left:5%;}
	#stage-11 .level-1{left:5%;}
}
/*-----------------------------------------------------------------------頁尾---*/

footer{height:255px;background:#710908;color:#fff}
footer a{color:#fff}
footer a:hover{color:#FFBBBA}
footer .content{background:url(/images/footer2.png) right 40px no-repeat;padding-top:30px;position:relative}
footer p{color:#fff;padding-top: 10px;}