
/*-----------------------------------------------------------------------員工表揚---*/

#praise .left li{text-align:center}
#praise .left li a{color:#222}
#praise .left li a:hover{color:#c70000}
#praise .left .active a{color:#c70000;font-weight:900}

#praise .right h3{height:132px;background:url(/images/pr-title.png) 0 0 no-repeat;padding:35px 0 0 90px}
#praise .right table{margin: 0 0 40px 0}
#praise .right th img{border:5px solid #E9E9E9;width:100%;max-width:178px;height:auto}
#praise .right td{padding:0 0 0 15px}
#praise .right td span{color:#ff5a00}
#praise .right td b{font:900 28px 微軟正黑體,Microsoft JhengHei}

/*-----------------------------------------------------------------------服務據點---*/

#office .grid { float: left; height: 60px; width: 180px; margin: 15px; font-size: 12px; line-height: 1.7em; color: #555 }
#office .grid b { font-size: 14px; color: #000 }
#office .content { background: url(/images/of-bg.png) 55px 273px no-repeat }
#office .inner { width: 630px; margin: 70px 0 0 360px }

/*-----------------------------------------------------------------------管制中心---*/

/*-----------------------------------------------------------------------關於誼光---*/

#about { background: url(/images/ab-bg.jpg) center 115px no-repeat }
#about .inner { width: 580px; padding: 0 0 350px 0 }

/*-----------------------------------------------------------------------人員招募---*/

#recruit .left li{padding-left:30px!important}
#recruit .left .fire{background:url(/images/rc-fire.gif) 0 center no-repeat}
#recruit .left .active a{color:#c70000}
#recruit .left li span{font-size:13px}
#recruit .left li a{color:#005191}

#recruit .right header{position:relative;height:100px}
#recruit .right header a{position:absolute;right:0;top:30px;width:113px;height:30px;display:block;text-indent:-9999px;background:url(/images/rc-a.png)}
#recruit .right header a:hover{background:url(/images/rc-ah.png)}
#recruit .right header h3{font-size:35px}
#recruit .right .fire{background:url(/images/rc-fire.gif) 2px 28px no-repeat;}
#recruit .right .fire h3{padding:0 0 0 30px;}

#recruit .right article b{color:#fa6a00;font-weight:900}
#recruit .right article td{padding:5px 0}
#recruit .right article .contact{background:#FFF9D8;padding:15px}

#inline_content b{color:#e40505}
#inline_content h3{color:#e40505;font:900 26px 微軟正黑體,Microsoft JhengHei}
#inline_content table{margin:10px 0}
#inline_content th{padding:0 15px 0 0}
#inline_content td{padding:5px 0}
#inline_content input.text,
#inline_content textarea{border:3px solid #FCEDBB;border-radius:5px;width:100%;padding:5px}
#inline_content textarea{min-height:150px}
#inline_content .birth input.text{width:50px}
#inline_content .button{display:block;background:url(/images/rc-b.jpg) 0 0 no-repeat;width:441px;margin:0 auto;height:41px;border:none;cursor:pointer}
#inline_content .button:hover{background:url(/images/rc-bh.jpg) 0 0 no-repeat}

input.error { border-color: red!important; }

label.error { 
width: 268px;
height: 4px;
text-align: right;
margin: -30px 0 0 2px;
overflow: hidden;
display: block;
position: absolute;
color: red;
}

label.error:hover { height: inherit;}

/*-----------------------------------------------------------------------教育訓練---*/

#educate .left li span{font-size:13px;color:#747474}
#educate .left li a{color:#222}
#educate .left li a:hover{color:#c70000}
#educate .left .active a{color:#c70000}

#educate .right header{height:100px}
#educate .right img{width:100%;max-width:544px;height:auto}

/*-----------------------------------------------------------------------最新消息---*/

#news .right h3{color:#005191}
#news .right .date{color:#747474}

#news .left li span{color:#747474}
#news .left li a{color:#222}
#news .left li a:hover{color:#c70000}
#news .left .active a{color:#c70000}

/*-----------------------------------------------------------------------服務項目---*/

#service .grid{display:block;float:left;width:220px;height:175px;border:3px solid #00344F;
margin:0 5px 50px 5px;position:relative}
#service .grid img{width:214px;height:169px}
#service .grid h4{background:#1479B0;background:rgba(21,122,176,.9);width:100%;position:absolute;
bottom:0;left:0;padding:10px 0 0 10px;height:45px;color:#fff;font:900 22px 微軟正黑體,Microsoft JhengHei;
-webkit-transition:all ease .3s;-moz-transition:all ease .3s;text-shadow:0 -1px 0 #236B91,0 1px 0 #539FC6}
#service .grid:hover h4{height:55px;}

#service .left ul{border:none;padding:10px}
#service .left ul li{border:none;padding:10px 0}
#service .left h3{font:900 31px 微軟正黑體,Microsoft JhengHei;color:#ff5a00}

/*迷你倉*/
.mnh .left{width:220px}
.mnh .left h4{color:#0043a6;font:300 23px 微軟正黑體,Microsoft JhengHei;border-bottom:1px solid #E2E2E2;height:40px;margin:20px 0 0 0}
.mnh .left ul{border:none;padding:10px 0!important}
.mnh .left li a{color:#676767}
.mnh .left li{border-bottom:1px dashed #676767!important;padding:10px!important}
.mnh .left li a:hover{color:#FF5A00}
.mnh #intro{background:url(../images/mnh-03.jpg) right 810px no-repeat}
.mnh #intro p{padding:20px 0}
.mnh .right{width:650px}
.mnh .right img{max-width:100%}

.mnh #content table{border:1px solid #ED7818}
.mnh #content th{background:#ED7818;color:#fff}
.mnh #content td{padding:5px;border-left:1px solid #DFDFDF;border-bottom:1px solid #DFDFDF}
.mnh #content{font-size:14px}
.mnh #content h5{font:300 46px 微軟正黑體,Microsoft JhengHei;height:75px}
.mnh #content h6{color:#005191;font:900 22px 微軟正黑體,Microsoft JhengHei;margin:20px 0}
.mnh #content p{padding:20px 0}

/*叭叭房*/
.bbh .left h4{color:#0043a6;font:300 23px 微軟正黑體,Microsoft JhengHei;border-bottom:1px dashed #a3a3a3;height:40px;margin:20px 0 0 0}
.bbh .tab{overflow:hidden}
.bbh .tab li{float:left;color:#676767}
.bbh .tab li a{display:block;width:97px;text-align:center;color:#676767}
.bbh .tab li a:hover{color:#a80000}
.bbh .tab .active a{color:#a80000;font-weight:900}

.bbh #intro p{padding:20px 0}

.bbh #content {overflow:hidden}
.bbh #content h5{color:#005191;font:300 43px 微軟正黑體,Microsoft JhengHei;float:left;padding:0 0 0 30px}
.bbh #content .form{float:right;width:425px;border-left:5px solid #005191;border-bottom:1px solid #A4A4A4}
.bbh #content .form th{color:#005191;background:#F5FCFC;border-top:1px solid #A4A4A4;border-right:1px solid #A4A4A4}
.bbh #content .form td{padding:5px 10px;border-top:1px solid #A4A4A4;border-right:1px solid #A4A4A4}
.bbh #content .form .text{color:#bd0000}
.bbh #content .photo{margin:50px 0 0 0}

/*-----------------------------------------------------------------------保全百科---*/


.eccp-lv1{ }

#encyclopedia .left{width:230px}
#encyclopedia .left ul{border:none;padding:0}
#encyclopedia .left li{padding:10px 0}
#encyclopedia .left li a{color:#9f9f9f;font-size:20px}
#encyclopedia .left li a:hover,
#encyclopedia .left .active a{color:#c70000}
#encyclopedia .left .active{background:url(/images/ep-01.jpg) right center no-repeat}

#encyclopedia .right{width:645px;padding:10px 0 0 0}
#encyclopedia .right li a{color:#4f4f4f}
#encyclopedia .right li{background:url(/images/ep-02.jpg) 0 13px no-repeat;padding:5px 0 5px 20px}
#encyclopedia .right li a:hover{text-decoration:underline}

#encyclopedia .right h3{color:#005191}

/*-----------------------------------------------------------------------連絡誼光---*/

#form .content{background:url(/images/fm-01.jpg) 800px 273px no-repeat}
#form p{height:75px}
#form .left{text-align:right;width:220px}
#form .left h3{color:#005191;padding:15px 0 0 0}
#form .right{width:650px}
#form .right table{width:460px}
#form .right th{text-align:left;padding:0 15px 0 0;font-weight:300}
#form .right td{padding:10px 0}
#form .right .text{width:100%;border:5px solid #FCEDBB;border-radius:5px;padding:5px}
#form .right span{font-size:13px;padding:0 0 0 90px}
#form .right span a{color:#005191;font-size:13px;text-decoration:underline}

#form .button{display:block;background:url(/images/rc-b.jpg) 0 0 no-repeat;width:441px;height:41px;border:none;cursor:pointer;margin:50px 0 0 0}
#form .button:hover{background:url(/images/rc-bh.jpg) 0 0 no-repeat}

#new_ticket label.error { width: 440px;  }

/*-----------------------------------------------------------------------事業體表列---*/

#enterprise p{width:710px}
#enterprise h3{margin:50px 0 0 0}
#enterprise img{margin:0 auto}
#enterprise .image-box{width:710px;text-align:center}

/*-----------------------------------------------------------------------客戶表列---*/

#client{background:url(/images/cl-bg.jpg) 90% bottom no-repeat}
#client h4{color:#1d5d93;font:900 18px 微軟正黑體,Microsoft JhengHei;margin:20px 0 0 0}

/*-----------------------------------------------------------------------For Peditors---*/
#articleContent div {
	margin: 12px auto;
}

#service .left h4{color:#0043a6;font:300 23px 微軟正黑體,Microsoft JhengHei;border-bottom:1px dashed #a3a3a3;height:40px;margin:20px 0 0 0}
#service .tab{overflow:hidden}
#service .tab li{float:left;color:#676767}
#service .tab li a{display:block;width:97px;text-align:center;color:#676767}
#service .tab li a:hover{color:#a80000}
#service .tab .active a{color:#a80000;font-weight:900}

#bbh-box .bbh{overflow:hidden}
#bbh-box h5{color:#005191;font:300 43px 微軟正黑體,Microsoft JhengHei;float:left;padding:0 0 0 30px}
#bbh-box .form{float:right;width:425px;border-left:5px solid #005191;border-bottom:1px solid #A4A4A4}
#bbh-box .form th{color:#005191;background:#F5FCFC;border-top:1px solid #A4A4A4;border-right:1px solid #A4A4A4}
#bbh-box .form td{padding:5px 10px;border-top:1px solid #A4A4A4;border-right:1px solid #A4A4A4}
#bbh-box .form .text{color:#bd0000}
#bbh-box .photo{margin:50px 0 0 0}

