/*-----------------------------------------------------------------------頁首---*/

#top a{display:block}

#nav-ctrl,h1,aside{float:left}
#nav-ctrl,aside{width:15%;border:1px solid #2B4680;border-radius:5px;background:#4B67A1;text-align:center;padding:4px 0 0 0;height:30px}
#nav-ctrl:hover,aside:hover{background:#3B5998}
#nav-ctrl:active,aside:active{background:#2B4680}

#top .left h1{width:70%;text-align:center}

#aside-box{position:absolute;display:none;width:150px;right:10px;top:40px;z-index:3;background:url(../images/aside.png) 113px 0 no-repeat;padding:15px 0 0 0}
#aside-box a{font-size:13px;border-top:1px solid #3E4555;border-bottom:1px solid #232A3A;color:#C3CBD8;padding:12px 0 0 0;height:40px;background:#32394B;}
#aside-box a:hover{background:#292F3D}

#aside-box a:first-child{border-radius:5px 5px 0 0}
#aside-box a:last-child{border-radius:0 0 5px 5px}

/*-----------------------------------------------------------------------內容---*/

#main{background:#32394A}

article{padding:10px;box-shadow:0 0 10px #000}
article section{margin:0 0 10px 0}

/*-----------------------------------------------------------------------側欄---*/

nav{position:absolute;top:50px;z-index:1;border-bottom:1px solid #3E4555}
nav ul{width:150px;background:#32394A}
nav li{height:75px}
nav li a{background-position:20px center;color:#777;text-shadow:0 1px 0 #fff;border-top:1px solid #3E4555;border-bottom:1px solid #242A37;padding:30px 0 0 60px;color:#B9C0CE;text-shadow:0 1px 0 #1E232E}
nav .active a,
nav a:hover{background-color:#292F3D;color:#fff}

/*-----------------------------------------------------------------------標題---*/

.title .counter{display:none}

/*-----------------------------------------------------------------------列表---*/

.list .x1{width:15%}
.list .x0{display:none}

/*-----------------------------------------------------------------------欄位---*/

.text .quarter{width:100%}
.text .three{width:100%}
.text .half{width:100%}

/*-----------------------------------------------------------------------發文---*/

.post{border-radius:0 0 5px 5px}

/*-----------------------------------------------------------------------頁腳---*/

footer{text-align:center;padding:10px 0;position:relative;z-index:999}

/*-----------------------------------------------------------------------登入---*/

.login{width:300px}
.login li{margin:0 0 10px 0;padding:5px 5px}