
/*-----------------------------------------------------------------------全域---*/

body{font:300 15px 微軟正黑體,Microsoft JhengHei;line-height:1.7em;min-width:1024px;}
a{font:300 15px 微軟正黑體,Microsoft JhengHei;line-height:1.7em;text-decoration:none;
-webkit-transition:all ease .3s;-moz-transition:all ease .3s;}
.content{width:1024px;margin:0 auto;padding:0 47px}

/*-----------------------------------------------------------------------頁首---*/

body > header{height:60px;background:url(../images/top.jpg) 0 0 repeat-x}
header h1{float:left;width:171px;height:60px;background:url(../images/h1.png) center center no-repeat}
header .content > nav{height:60px;float:right}
header .content > nav a{display:inline-block;margin-left: -4px;;height:100%;padding:20px 10px 0 10px;border-right:1px solid #C9C9C9;text-shadow:0 1px 0 #FBFBFB;color:#000;font:900 14px 微軟正黑體,Microsoft JhengHei}
header .content > nav a:hover{background:#EFEFEF;box-shadow:inset 0 0 10px #bbb}
header .content > nav a:last-child{border:none}

#banner{clear:both;height:133px;border-bottom:1px solid #d6d6d6;}
#banner .content{background:url(../images/banner.jpg) right -1px no-repeat;padding-top:35px;}
#banner nav{height:55px}
#banner nav a{color:#005791;display:inline-block;height:100%;font:900 14px 微軟正黑體,Microsoft JhengHei;background:url(../images/nav.png) center bottom no-repeat;padding:25px 10px 0 10px}
#banner nav a:hover{background:url(../images/navh.png) center bottom no-repeat;color:#710908}
#banner .active{background:none;padding:0 5px;position:relative;top:20px;}
#banner .active:hover{background:none;}

/*-----------------------------------------------------------------------頁身---*/

article .content{padding-bottom:60px}
article nav{padding:5px 0 0 0;height:60px}
article nav a{color:#BFBFBF;font-size:14px}
article nav span{color:#BFBFBF;font-size:14px}
article nav a:hover{color:#777}
article h3{font:900 26px 微軟正黑體,Microsoft JhengHei;}
article .inner{overflow:hidden}

.inner .left{float:left;width:335px}
.left ul{padding:0 15px;border:1px solid #C0C0C0}
.left li{border-bottom:1px dotted #A3A3A3;padding:15px 0}
.left li:last-child{border:none}
.left .page{text-align:right;margin:10px 0 5px 0}
.left .page a{display:inline-block;background:#005191;color:#fff;font:300 12px arial;padding:1px 4px;margin:0 0 0 5px}
.left .page .active,.left .page a:hover{color:yellow}
.page a{display:inline-block;background:#005191;color:#fff;font:300 12px arial;padding:1px 4px}
.page .active,.page a:hover{color:yellow}

.left .years{text-align:right}
.left .years a{color:#bbb;font:300 13px arial;margin:0 0 0 10px;display:inline-block;padding:0 0 2px 5px}
.left .years .active,.left .years a:hover{color:#777;border-bottom:1px solid #777}

.inner .right{float:right;width:545px}
.right img{max-width:544px;height:auto; margin-top: 20px;}
.right .back{display:block;padding:0 0 0 20px;background:url(../images/sv-back.jpg) 0 7px no-repeat;color:#555;height:60px}
.right .back:hover{color:#222}

/*-----------------------------------------------------------------------頁尾---*/

body > footer{height:255px;background:#710908;color:#fff}
body > footer a{color:#fff}
body > footer a:hover{color:#FFBBBA}
body > footer .content{background:url(../images/footer2.png) 94% 40px no-repeat;padding-top:30px}
body > footer p{color:#fff}