<section class="hgroup">
  <h2>Intro</h2>
</section>
<!--hgroup-->
<section class="text text-edit">
  <div>
    <%= form_for [:admin, @intro_page], html: { id: "create_this_intro_page" } do |f| %>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th width="16%">標題：</th>
        <td width="84%"><%= f.text_field :title , class: "text" %></td>
      </tr>
    </table>
    <% end %>
  </div>
</section>
<section class="button">
  <a href="javascript: document.getElementById('create_this_intro_page').submit();" class="right highlight" data-no-turbolink = true ><img src="/images/save.png">儲存</a>
  <%= link_to image_tag("/images/back.png")+"返回", admin_intro_pages_path(), class: "left" %>
</section>
<!--button--> 