/*-----------------------------------------------------------------------全域---*/

html{background:#E7EBF4}
body{ font:300 13px 新細明體;width:100%;-webkit-text-size-adjust: none;color:#555;word-break:break-all}
a{font:300 13px 新細明體;text-decoration:none;color:#555;-webkit-transition:all ease .2s;-moz-transition:all ease .2s}

/*-----------------------------------------------------------------------頁首---*/

header{background:#3B5998;border-bottom:1px solid #133783;height:50px}
#top{padding:10px 15px;overflow:hidden;height:49px}
#top a{color:#fff}

h1{float:left}
h1 a{padding:5px 0 0 0;display:block;font:900 1.2em 新細明體,Times New Roman;text-shadow:0 1px 0 #133783}

/*-----------------------------------------------------------------------內容---*/

#main{overflow:hidden}
article{background:#fff;position:relative;z-index:2;border:1px solid #C4CDE0;height:100%}

/*-----------------------------------------------------------------------側欄---*/

nav ul{overflow:hidden;width:100%}
nav li a{background-repeat:no-repeat;display:block;width:100%;height:100%}

/*-----------------------------------------------------------------------大標---*/

.hgroup{overflow:hidden}
.hgroup h2{margin:0 10px 0 0;font:italic 300 24px 新細明體;float:left}
.hgroup p{float:left;color:#a9a9a9;margin:11px 0 0 0}

/*-----------------------------------------------------------------------標題---*/

.title{width:100%;border:1px solid #ccc;border-radius:5px}
.title th{background:url("/images/list.jpg") 0 0 repeat-x #DEDEDE;color:#999;text-shadow:0 1px 0 #fff;font:300 13px "verdana";width:100px;border-right:1px solid #ccc}
.title td{padding:8px 10px 5px 10px;border-left:1px solid #fff;color:#555;position:relative}
.title td input{border:0;width:100%;font:300 13px 新細明體;color:#555}
.title th input{width:80%;border-radius:5px;border:1px solid #ccc!important;padding:5px;color:#555}

.title .counter{background:url("/images/list.jpg") 0 0 repeat-x #DEDEDE;border:1px solid #ccc;display:block;padding:3px 5px 0 5px;height:21px;text-align:center;border-radius:5px;color:#555;text-shadow:0 1px 0 #fff;font:300 11px "verdana";position:absolute;top:4px;right:3px}

/*-----------------------------------------------------------------------分類---*/

.category ul{overflow:hidden;border:1px solid #ccc;
border-radius:5px;width:202px;margin:0 auto}
.category li {background:url("/images/list.jpg") 0 0 repeat-x;width:100px;text-align:center;float:left;;border-right:1px solid #ccc;border-left:1px solid #fff;}
.category li:first-child{border-left:none}
.category li:last-child{border-right:none}
.category a{color:#999;text-shadow:0 1px 0 #fff;display:block;padding:10px 0 0 0;height:33px}
.category .active{background:url("/images/active.jpg") 0 0 repeat-x}
.category .active a,.category a:hover{color:#555}

/*-----------------------------------------------------------------------列表---*/

.list{border:1px solid #ccc;border-radius:5px;}
.list th{background:url("/images/list.jpg") 0 0 repeat-x #DEDEDE;color:#999;text-shadow:0 1px 0 #fff;font:300 13px verdana;height:40px;padding:0 0 0 10px}
.list td{height:40px;border-top:1px solid #D1D1DB;color:#999;padding:5px 0;font:300 13px "verdana";padding:0 0 0 10px}
.list tr:nth-child(2n) {background:#F9F9F9}
.list a:hover{text-decoration:underline}

/*-----------------------------------------------------------------------按鈕---*/

.button{overflow:hidden}
.button a{display:block;width:100px;height:35px;padding:5px 0 0 0;background:url("/images/list.jpg") 0 0 repeat-x;border:1px solid #ccc;border-radius:5px;float:right;margin:0 0 0 10px;color:#333;text-shadow:0 1px 0 #fff;font-weight:900;text-align:center}
.button a:active{background:url("/images/active.jpg") 0 0 repeat-x}
.button img{position:relative;top:4px;margin:0 8px 0 0}

/*-----------------------------------------------------------------------頁籤---*/

.tab{margin:0!important;position:relative;top:1px}
.tab ul{overflow:hidden;border:1px solid #ccc;border-bottom:none;border-radius:5px 5px 0 0}
.tab ul.x1{width:101px}
.tab ul.x2{width:202px}
.tab ul.x3{width:302px}
.tab ul.x4{width:302px}

.tab li {background:url("/images/list.jpg") 0 0 repeat-x;width:100px;text-align:center;float:left;border-right:1px solid #ccc;border-left:1px solid #fff}
.tab li:first-child{border-left:none}
.tab li:last-child{border-right:none}
.tab a{color:#999;text-shadow:0 1px 0 #fff;display:block;padding:5px 0 0 0;height:33px}
.tab .active{background:url("/images/active.jpg") 0 0 repeat-x}
.tab .active a,.category a:hover{color:#555}
.tab img{position:relative;top:4px;margin:0 7px 0 0}

.tab ul.x4 li{width:75px}

/*-----------------------------------------------------------------------發文---*/

.post, .post-list{border:1px solid #ccc;background:#FBFBFB;padding:10px 10px 10px 10px;}
.post textarea,.post input,.post-list input{width:95%;border-radius:5px;border:1px solid #ccc;padding:5px;font:300 13px 新細明體;color:#555}
.post textarea{min-height:100px}
.post select{padding:5px;border-radius:5px;border:1px solid #ccc;min-width:150px;max-width:100%}

.addlink{text-shadow:0 1px 0 #fff}
.addlink img{position:relative;top:4px;margin:0 8px 0 0}

.addlist{margin:3px 0 0 0}
.addlist a{display:block;border:1px solid #ccc;background:#fff;font:300 11px "verdana";padding:5px 0;width:50px;text-align:center;border-radius:5px}
.addlist a:hover{background:#eee}

/*-----------------------------------------------------------------------預覽---*/

.preview .part{border:1px solid #ccc;padding:10px;margin:0 0 1px 0;position:relative;background:#fff;cursor:pointer;background:#F9F9F9}
.preview .part:active{border:1px dashed #ccc!important;background:#fff}
.preview .part:hover{border:1px solid #aaa}
.preview .part:hover .tool-b{display:inline}
.preview .part:first-child{border-radius:5px 5px 0 0}
.preview .part:last-child{border-radius:0 0 5px 5px}
.preview .part img{max-width:100%;height:auto}

.preview .space{height:50px;background:#fff;border:1px dashed #ccc}
.preview textarea{width:100%;border-radius:5px;border:1px solid #ccc;padding:5px;min-height:100px;font:300 13px 新細明體;color:#555;} 

.preview span{margin:0 0 0 10px;color:#bbb}

.tool-b{overflow:hidden;position:absolute;top:5px;right:5px;display:none}
.tool-b a{float:left;margin:0 0 0 5px}
.tool-a{overflow:hidden}
.tool-a a{float:left;margin:0 5px 0 0}
.tool-b a,.tool-a a{display:block;border:1px solid #ccc;background:#fff;font:300 11px "verdana";padding:5px 0;width:50px;text-align:center;border-radius:5px;}
.tool-b a:hover,.tool-a a:hover{background:#eee}

/*-----------------------------------------------------------------------頁碼---*/

.page{text-align:center;width:100%}
.page ul{}
.page li{display:inline;}
.page a{display:inline-block;width:20px;height:20px;margin:0 2.5px;border-radius:5px;padding:1px 0 0 0;font:300 12px "verdana";text-shadow:0 1px 0 #fff}
.page a:hover{border:1px solid #ccc}
.page .active a{background:url("/images/list.jpg") 0 0 repeat-x;border:1px solid #ccc}

/*-----------------------------------------------------------------------欄位---*/

.text{border:1px solid #ccc;background:#F9F9F9;border-radius:5px;overflow:hidden}
.text div{float:left;padding:5px;line-height:1.5em; clear: left;}
.text th{font-weight:900;width:80px;}
.text td{text-align:left}

.text .one{width:100%;clear:both}

.text-edit input,.text-edit textarea{width:100%;border-radius:5px;border:1px solid #ccc!important;padding:5px;font:300 13px 新細明體;background:#fff;color:#555}
.text-edit textarea{min-height:100px}
.text-edit th{padding:7px 0 0 0}
.text-edit .radio{width:30px;border:none;padding:0;position:relative;top:3px}
.text-edit #checkbox{width:30px;position:relative;top:4px}

/*
#articleContent div{margin:10px;line-height:1.7em;float:none;padding:0}
*/
#articleContent img{max-width:100%;height:auto}

/*-----------------------------------------------------------------------頁尾---*/

footer{font:300 13px "Times New Roman", Times, serif;text-shadow:0 1px 0 #fff;position:relative;z-index:2}
footer a{font:300 13px "Times New Roman", Times, serif;text-shadow:0 1px 0 #fff}

/*-----------------------------------------------------------------------登入---*/

.login-main{display:table;width:100%;height:100%}
#vert{display:table-cell; vertical-align:middle;width:100%;height:100%}

.login{margin:0 auto}
.login li{background:#fff;border:1px solid #E3E1D5;border-radius:5px;color:#aaa}

.login li th{width:50px;font:300 13px "verdana"}
.login li input{width:100%;border:none;padding:0 10px;font:300 14px "verdana"}

.entrance a{width:100%;height:42px;padding:13px 0 0 0;}



 
 
p.form-validation-tip {
	padding: 0px 2px;
	box-shadow: 5px 5px 5px #960;
	float: left;
	margin-top: -10px;
	background: orange;
	color: #fff;
	border: 1px #870 solid;
}


.field_with_errors { float: none!important; }
.text th .field_with_errors { float: none; display: inline; padding: 0; margin: 0; color: #900; font-weight: 600;}

.text-edit textarea, .field_with_errors input{width:100%;border-radius:5px;border:1px solid #ccc!important;padding:5px;font:300 13px 新細明體;background:#fff;color:#555}