/*-----------------------------------------------------------------------頁首---*/

#nav-ctrl,#aside-ctrl{display:none}
#top{min-width:897px;max-width:1024px;margin:0 auto}

h1{float:left;width:40%}

aside{float:right;text-align:right;width:60%;padding:8px 0 0 0}

#aside-box a{border:1px solid #2B4680;border-radius:5px;background:#4B67A1;text-align:center;padding:5px 10px;height:30px;margin-left:10px;font-size:1em}
#aside-box a:hover{background:#2B4680}

/*-----------------------------------------------------------------------內容---*/

#main{padding:15px;min-width:897px;max-width:1024px;margin:0 auto}

article{padding:3%;width:100%;border-radius:5px;}
article section{margin:0 0 15px 0}

/*-----------------------------------------------------------------------側欄---*/

nav{position:relative;z-index:3;top:1px}
nav li{width:12%;float:right;text-align:center;height:100px}
nav li a{background-position:center 25px;border-radius:5px 5px 0 0;color:#777;text-shadow:0 1px 0 #fff;padding:60px 0 0 0}
nav li a:hover{background-color:rgba(255,255,255,.5)}
nav .active a{background-color:#fff!important;color:#152529!important;text-shadow:0 1px 0 #eee!important;border:1px solid #C4CDE0;border-bottom:1px solid #fff!important}
nav .active:hover a{background-color:#fff}

/*-----------------------------------------------------------------------列表---*/

.list .x2{width:12%}
.list .x1{width:6%}

/*-----------------------------------------------------------------------欄位---*/

.text .quarter{width:25%}
.text .three{width:33%}
.text .half{width:50%}

/*-----------------------------------------------------------------------發文---*/

.post{border-radius:0 5px 5px 5px}

/*-----------------------------------------------------------------------頁腳---*/

footer{text-align:center;padding:15px 0}

/*-----------------------------------------------------------------------登入---*/

.login{width:400px}
.login li{margin:0 0 15px 0;padding:10px 5px}