<section class="article-edit" id="editorPanel">    </section>
<!--editorPanel-->

<section class="button editorAdd"> <a href="#" ><img src="<%= image_path("add.png") %>">加入內文</a> </section>
<!--button-->

<section class="hgroup">
  <h2>文章預覽</h2>
  <p>內文可拖曳排序</p>
</section>
<!--hgroup-->

<section class="preview preview-edit" id="articleContent">
</section>
<!--preview-->

